# Data Loader

- Target : 아파트 낙찰가

- Files
> - **Auction_Master_train.csv** ; 서울/부산 지역의 낙찰가를 포함하여 경매 물건 아파트의 위치, 감정가, 경매 개시/종결일 등의 기본 정보 (최근 2년)
> - **Auction_Master_test.csv** ; 경매 낙찰가를 제외하고 train.csv와 동일
> - **Auction_submission.csv** ; 예측한 낙찰가를 기입하여 제출
> - **Auction_regist.csv** ; 아파트에 대한 등기 정보
> - **Auction_result.csv** ; 경매일자, 감정가, 최저매각가격, 경매 결과 데이터.
> - **Auction_rent.csv** ; 해당 아파트에 임차인이 있는 경우, 전입/점유 여부, 보증금, 월세 등의 데이터.

- Features
> - Auction_key ; 경매 아파트 고유 키값
> - Auction_class ; 경매구분 
> > - **강제경매** : 법원에 소송을 제기하여 판결을 얻은 후 집행권원에 따라 경매를 진행 
> > - **임의경매** : 등기부등본 담보권(저당권, 가압류등)으로 경매를 진행
> - Bid_class ; 입찰구분(일반/개별/일괄)
> - Claim_price ; 경매 신청인의 청구 금액
> - Appraisal_company ; 감정사
> - Appraisal_date ; 감정일자
> - Auction_count ; 총경매횟수
> - Auction_miscarriage_count ; 총유찰횟수
> > - 입찰 결과 낙찰(落札)이 결정되지 아니하고 무효로 돌아가는 일. 응찰 가격이 내정 가격에 미달될 때 주로 일어남.
> - Total_land_gross_area ; 총토지전체면적(㎡)
> - Total_land_real_area ; 총토지실면적(㎡)
> - Total_land_auction_area ; 총토지경매면적(㎡)
> - Total_building_area ; 총건물면적(㎡)
> - Total_building_auction_area ; 총건물경매면적(㎡)
> - Total_appraisal_price ; 총감정가
> - Minimum_sales_price ; 최저매각가격
> > - 입찰 시 입찰인이 최저로 제시해야만 하는 금액
> - First_auction_date ; 최초경매일
> - Final_acution_date ; 최종경매일
> - Final_result ; 최종결과
> - Creditor ; 채권자, 경매 신청인
> - addr_do ; 주소_시도
> - addr_si ; 시군구
> - addr_dong ; 읍면동
> - addr_li ; 리
> - addr_san ; 주소_산번지 여부(Y)
> - addr_bunji1 ; 주소_번지1
> - addr_bunji2 ; 주소_번지2
> - addr_etc ; 주소_기타주소
> - Apartment_usage ; 건물(토지)의 대표 용도
> - Completion_date ; 준공일
> - Preserve_regist_date ; 보존등기일, 건물을 신축하고 처음으로 등기
> - Total_floor ; 총 층수
> - Current_floor ; 현재 층 수
> - Specific ; 기타_특이사항
> - Share_auction_YorN ; 지분경매 여부(Y)
> > - 하나의 부동산이 전체가 아닌 일부만 경매가 진행 (하나의 부동산의 공유자가 지분으로 소유권을 가지고 있을 때 그중 일부 지분만 경매가 진행)
> - road_name ; 도로명주소_도로명
> - road_bunji1 ; 도로명주소_번지1
> - road_bunji2 ; 도로명주소_번지2
> - Close_date ; 종국일자
> - Close_result ; 종국결과, 낙찰과 배당의 차이
> > - 경매 진행은 ①경매진행(낙찰) ▷ ②낙찰허가결정 ▷ ③대금납부 ▷ ④배당 후 종결 로 이뤄집니다. 낙찰자가 최고가로 입찰(①)해서 낙찰허가(②)를 받으면 대금납부기한 낙찰금을 입금(③)합니다. 법원은 납부된 낙찰금을 가지고 채권자에게 순위에 의한 배당(④)을 해주고 경매는 종결됩니다.
> - point.y ; 위도
> - point.x ; 경도
> - Hammer_price ; 낙찰가

In [450]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 100)

Raw_train = pd.read_csv("./data/Auction_Master_train.csv")
Raw_test = pd.read_csv("./data/Auction_Master_test.csv")
submission = pd.read_csv("./data/Auction_submission.csv")
regist = pd.read_csv("./data/Auction_regist.csv")
result = pd.read_csv("./data/Auction_result.csv")
rend = pd.read_csv("./data/Auction_result.csv")

In [451]:
Raw_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1933 entries, 0 to 1932
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Auction_key                  1933 non-null   int64
 1   Auction_class                1933 non-null   object
 2   Bid_class                    1933 non-null   object
 3   Claim_price                  1933 non-null   int64
 4   Appraisal_company            1933 non-null   object
 5   Appraisal_date               1933 non-null   object
 6   Auction_count                1933 non-null   int64
 7   Auction_miscarriage_count    1933 non-null   int64
 8   Total_land_gross_area        1933 non-null   float64
 9   Total_land_real_area         1933 non-null   float64
 10  Total_land_auction_area      1933 non-null   float64
 11  Total_building_area          1933 non-null   float64
 12  Total_building_auction_area  1933 non-null   float64
 13  Total_appraisal_price        1933 non-null   int64
 14  Minimum_sales_price          1933 non-null   int64
 15  First_auction_date           1933 non-null   object
 16  Final_auction_date           1933 non-null   object
 17  Final_result                 1933 non-null   object
 18  Creditor                     1933 non-null   object
 19  addr_do                      1933 non-null   object
 20  addr_si                      1933 non-null   object
 21  addr_dong                    1933 non-null   object
 22  addr_li                      23 non-null     object
 23  addr_san                     1933 non-null   object
 24  addr_bunji1                  1929 non-null   float64
 25  addr_bunji2                  889 non-null    float64
 26  addr_etc                     1933 non-null   object
 27  Apartment_usage              1933 non-null   object
 28  Preserve_regist_date         1933 non-null   object
 29  Total_floor                  1933 non-null   int64
 30  Current_floor                1933 non-null   int64
 31  Specific                     64 non-null     object
 32  Share_auction_YorN           1933 non-null   object
 33  road_name                    1933 non-null   object
 34  road_bunji1                  1909 non-null   float64
 35  road_bunji2                  155 non-null    float64
 36  Close_date                   1933 non-null   object
 37  Close_result                 1933 non-null   object
 38  point.y                      1933 non-null   float64
 39  point.x                      1933 non-null   float64
 40  Hammer_price                 1933 non-null   int64
dtypes: float64(11), int64(9), object(21)
memory usage: 619.3+ KB

In [452]:
Raw_train.head()

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
0,2687,임의,개별,1766037301,정명감정,2017-07-26 00:00:00,2,1,12592.0,37.35,37.35,181.77,181.77,836000000,668800000,2018-02-13 00:00:00,2018-03-20 00:00:00,낙찰,베리타스자산관리대부,부산,해운대구,우동,NaN,N,1398.0,NaN,해운대엑소디움 5층 101-502호,주상복합,2009-07-14 00:00:00,45,5,NaN,N,해운대해변로,30.0,NaN,2018-06-14 00:00:00,배당,35.162717,129.137048,760000000
1,2577,임의,일반,152946867,희감정,2016-09-12 00:00:00,2,1,42478.1,18.76,18.76,118.38,118.38,1073000000,858400000,2016-12-29 00:00:00,2017-02-02 00:00:00,낙찰,흥국저축은행,부산,해운대구,우동,NaN,N,1407.0,NaN,해운대두산위브더제니스 103동 51층 5103호,아파트,2011-12-16 00:00:00,70,51,NaN,N,마린시티2로,33.0,NaN,2017-03-30 00:00:00,배당,35.156633,129.145068,971889999
2,2197,임의,개별,11326510,혜림감정,2016-11-22 00:00:00,3,2,149683.1,71.00,71.00,49.94,49.94,119000000,76160000,2017-07-28 00:00:00,2017-10-13 00:00:00,낙찰,국민은행,부산,사상구,모라동,NaN,N,552.0,NaN,백양그린 206동 14층 1403호,아파트,1992-07-31 00:00:00,15,14,NaN,N,모라로110번길,88.0,NaN,2017-12-13 00:00:00,배당,35.184601,128.996765,93399999
3,2642,임의,일반,183581724,신라감정,2016-12-13 00:00:00,2,1,24405.0,32.98,32.98,84.91,84.91,288400000,230720000,2017-07-20 00:00:00,2017-11-02 00:00:00,낙찰,고려저축은행,부산,남구,대연동,NaN,N,243.0,23.0,대연청구 109동 11층 1102호,아파트,2001-07-13 00:00:00,20,11,NaN,N,황령대로319번가길,110.0,NaN,2017-12-27 00:00:00,배당,35.154180,129.089081,256899000
4,1958,강제,일반,45887671,나라감정,2016-03-07 00:00:00,2,1,774.0,45.18,45.18,84.96,84.96,170000000,136000000,2016-07-06 00:00:00,2016-08-03 00:00:00,낙찰,Private,부산,사하구,괴정동,NaN,N,399.0,2.0,동조리젠시 7층 703호,아파트,2001-11-27 00:00:00,7,7,NaN,N,오작로,51.0,NaN,2016-10-04 00:00:00,배당,35.099630,128.998874,158660000

In [453]:
# "총토지 실면적"과 "총토지경매면적"이 서로 다른 example이 있는 지 확인
diff_real = (Raw_train['Total_land_real_area'] != Raw_train['Total_land_auction_area']).sum()
print("real != auction : ", diff_real, "/", len(Raw_train))

# "총건물면적"과 "총건물경매면적"이 서로 다른 example이 있는 지 확인
diff_building = (Raw_train['Total_building_area'] != Raw_train['Total_building_auction_area']).sum()
print("building != auction : ", diff_building, "/", len(Raw_train))

real != auction :  77 / 1933
building != auction :  79 / 1933

In [454]:
# "총토지실면적" 보다 "총토지경매면적"이 더 큰 example이 있는 지 확인
comp_real = Raw_train['Total_land_real_area'] < Raw_train['Total_land_auction_area']
print("real >= auction : ", comp_real.sum(), "/", len(Raw_train))

# "총건물면적" 보다 "총건물경매면적"이 더 큰 example이 있는 지 확인
comp_building = Raw_train['Total_building_area'] < Raw_train['Total_building_auction_area']
print("building >= auction : ", comp_building.sum(), "/", len(Raw_train))

real >= auction :  1 / 1933
building >= auction :  0 / 1933

In [455]:
# "총토지실면적" 보다 "총토지경매면적"이 더 큰 example 출력
Raw_train[comp_real]

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
1000,1416,임의,개별,657000000,경인감정,2016-01-26 00:00:00,2,1,2418.0,43.21,43.22,151.03,151.03,330000000,264000000,2016-06-13 00:00:00,2016-07-25 00:00:00,낙찰,국민은행,서울,중랑구,중화동,NaN,N,207.0,14.0,",-27 미영리치타운102 2층 207호",주상복합,2007-12-11 00:00:00,15,2,NaN,N,망우로,223.0,8.0,2016-11-08 00:00:00,배당,37.595017,127.077879,341000000

In [456]:
Raw_train[Raw_train['Total_land_gross_area'] == 0]

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
13,2550,임의,일반,135000000,미르감정,2016-07-24 00:00:00,2,1,0.0,0.00,0.00,106.34,106.34,560000000,448000000,2017-01-19 00:00:00,2017-03-30 00:00:00,낙찰,대부F&D,부산,해운대구,중동,NaN,N,1519.0,3.0,", 1522-1,-2, 1523-1,-2,-3,-4,-5, 1524-1,-2,-3,...",아파트,2015-06-17 00:00:00,39,5,NaN,N,좌동순환로433번길,30.0,NaN,2017-07-24 00:00:00,배당,35.161948,129.179110,518800000
32,1826,임의,일반,45000000,태화감정,2015-09-21 00:00:00,3,1,0.0,0.00,0.00,68.20,68.20,67000000,53600000,2016-09-30 00:00:00,2016-12-29 00:00:00,낙찰,Private,부산,연제구,연산동,NaN,Y,20.0,55.0,국토 4층 402호,아파트,1111-11-11 00:00:00,8,4,NaN,N,망미번영로,103.0,NaN,2017-03-08 00:00:00,배당,35.176351,129.111235,55203000
118,1986,임의,일반,70000000,알비감정,2016-04-20 00:00:00,1,0,0.0,0.00,0.00,83.33,83.33,54700000,54700000,2016-07-20 00:00:00,2016-07-20 00:00:00,낙찰,Private,부산,연제구,연산동,NaN,Y,20.0,55.0,국토 1층 108호,아파트,1111-11-11 00:00:00,8,1,NaN,N,망미번영로,103.0,NaN,2016-10-19 00:00:00,배당,35.176351,129.111235,60000000
136,2571,강제,일반,31229620,내외감정,2016-08-31 00:00:00,1,0,0.0,0.00,0.00,43.02,43.02,33150000,33150000,2017-02-13 00:00:00,2017-02-13 00:00:00,낙찰,서울보증보험,부산,남구,용호동,NaN,Y,20.0,1.0,",-8,23-1,67-1,68-2 한라임대 4동 4층 409호",아파트,1988-01-08 00:00:00,5,4,NaN,N,이기대공원로26번길,21.0,7.0,2017-04-25 00:00:00,배당,35.123588,129.116640,34387000
176,2504,임의,일반,381780881,태화감정,2016-03-07 00:00:00,2,1,0.0,0.00,0.00,129.88,129.88,694000000,555200000,2017-07-10 00:00:00,2017-09-11 00:00:00,낙찰,국민은행,부산,해운대구,중동,NaN,N,1818.0,NaN,",1817,1819 해운대힐스테이트위브 T-104동 24층 2402호",아파트,2015-06-17 00:00:00,49,24,NaN,N,좌동순환로433번길,30.0,NaN,2017-12-05 00:00:00,배당,35.161229,129.180266,600000000
227,2489,강제,일반,264300000,국제감정,2016-02-05 00:00:00,2,0,0.0,0.00,0.00,84.62,84.62,160000000,160000000,2016-08-17 00:00:00,2016-12-14 00:00:00,낙찰,Private,부산,수영구,남천동,NaN,N,27.0,3.0,",-16 남천마르빌빌딩 11층 1205호",주상복합,1111-11-11 00:00:00,20,11,NaN,N,수영로,452.0,14.0,2017-02-17 00:00:00,배당,35.145924,129.110288,173300000
272,2201,강제,일반,25533259,평진감정,2016-12-01 00:00:00,2,1,0.0,0.00,0.00,37.55,37.55,26000000,20800000,2017-06-02 00:00:00,2017-07-07 00:00:00,낙찰,우리카드,부산,중구,영주동,NaN,N,73.0,1.0,영주 2동 1층 110호,아파트,1975-08-29 00:00:00,4,1,NaN,N,초량상로7번길,22.0,NaN,2017-08-30 00:00:00,배당,35.113513,129.032852,20800000
564,2520,임의,일반,103200000,내외감정,2016-03-31 00:00:00,2,1,0.0,0.00,0.00,134.32,134.32,770000000,616000000,2016-12-01 00:00:00,2016-12-29 00:00:00,낙찰,장산(새),부산,해운대구,중동,NaN,N,1818.0,NaN,",1817,1819 해운대힐스테이트위브 T-201동 39층 3906호",아파트,2015-06-17 00:00:00,47,39,NaN,N,0,NaN,NaN,2017-02-22 00:00:00,배당,35.161229,129.180266,666666668
568,1987,강제,일반,217020382,제일감정,2016-03-30 00:00:00,1,0,0.0,0.00,0.00,36.36,36.36,42000000,42000000,2016-11-18 00:00:00,2016-11-18 00:00:00,낙찰,케이알앤씨,부산,영도구,영선동4가,NaN,N,1278.0,NaN,영선 3동 A3층 304호,아파트,1970-03-28 00:00:00,5,3,2016.5.2자 및 2016.10.4자 사실조회에 따른 회신서(부산도시공사)에 따...,N,절영로,227.0,NaN,2018-07-17 00:00:00,배당,35.077536,129.046754,42148800
696,869,임의,일반,464400000,리파인감정,2016-10-10 00:00:00,2,1,0.0,0.00,0.00,101.94,101.94,552000000,441600000,2017-02-28 00:00:00,2017-05-16 00:00:00,낙찰,중소기업은행,서울,은평구,진관동,NaN,N,10.0,NaN,상림마을 은평뉴타운 736동 2층 201호,아파트,2008-06-25 00:00:00,12,2,NaN,N,진관4로,48.0,51.0,2017-07-06 00:00:00,배당,37.642422,126.930885,521000000
715,1385,임의,일반,479627410,삼일감정,2015-06-03 00:00:00,2,1,0.0,0.00,0.00,139.08,139.08,500000000,400000000,2016-03-28 00:00:00,2016-04-25 00:00:00,낙찰,중소기업은행,서울,노원구,월계동,NaN,N,18.0,NaN,",-1 그랑빌 104동 6층 602호",아파트,2002-12-17 00:00:00,27,6,NaN,N,마들로,31.0,NaN,2016-06-24 00:00:00,배당,37.617537,127.068266,437500000
722,309,임의,일반,259002226,태백감정,2016-10-10 00:00:00,2,1,0.0,0.00,0.00,59.98,59.98,673000000,538400000,2017-03-09 00:00:00,2017-04-13 00:00:00,낙찰,한화생명보험,서울,강남구,율현동,NaN,N,336.0,NaN,강남한신휴플러스6단지 604동 5층 502호,아파트,2015-10-08 00:00:00,9,5,NaN,N,밤고개로26길,50.0,NaN,2017-06-15 00:00:00,배당,37.468708,127.104870,653008000
731,906,강제,개별,36500000,한울감정,2011-12-31 00:00:00,4,3,0.0,0.00,0.00,90.05,90.05,245000000,125440000,2015-12-23 00:00:00,2016-04-20 00:00:00,낙찰,Private,서울,양천구,신월동,NaN,N,142.0,14.0,뜨라네 106동 3층 304호,아파트,1111-11-11 00:00:00,7,3,NaN,N,가로공원로56길,10.0,NaN,2016-06-28 00:00:00,배당,37.533991,126.823710,187500000
735,453,임의,일반,250000000,강진감정,2015-10-30 00:00:00,1,0,0.0,0.00,0.00,51.96,51.96,380000000,380000000,2016-07-18 00:00:00,2016-07-18 00:00:00,낙찰,Private,서울,송파구,장지동,NaN,N,879.0,NaN,위례22단지 2205동 9층 901호,아파트,2013-11-29 00:00:00,23,9,NaN,N,위례광장로,163.0,NaN,2016-10-14 00:00:00,배당,37.479633,127.139326,533000000
767,227,임의,일반,600000000,석원감정,2016-07-19 00:00:00,2,1,0.0,0.00,0.00,84.41,84.41,900000000,720000000,2016-10-26 00:00:00,2016-12-07 00:00:00,낙찰,Private,서울,서초구,신원동,NaN,N,374.0,NaN,서초포레스타5단지 511동 16층 1602호,아파트,2014-05-15 00:00:00,17,16,NaN,N,청계산로7길,43.0,NaN,2017-02-16 00:00:00,배당,37.452406,127.056416,902000000
853,1651,임의,일반,43170233,지평감정,2017-04-19 00:00:00,2,1,0.0,0.00,0.00,84.82,84.82,412000000,329600000,2017-11-06 00:00:00,2017-12-04 00:00:00,낙찰,하나은행,서울,성북구,돈암동,NaN,N,603.0,NaN,돈암동더샾 103동 1층 101호,아파트,1111-11-11 00:00:00,19,1,NaN,N,아리랑로5길,85.0,NaN,2018-01-31 00:00:00,배당,37.597690,127.010683,407001000
874,441,강제,일반,50000000,인서감정,2015-09-11 00:00:00,2,1,0.0,0.00,0.00,59.91,59.91,453000000,362400000,2016-05-09 00:00:00,2016-08-01 00:00:00,낙찰,서울보증보험,서울,송파구,마천동,NaN,N,607.0,NaN,송파파크데일2단지 201동 15층 1502호,아파트,2011-02-25 00:00:00,15,15,NaN,N,성내천로47길,38.0,NaN,2016-10-21 00:00:00,배당,37.495780,127.158778,446999999
884,1771,강제,일반,173787365,생림감정,2017-08-07 00:00:00,1,0,0.0,0.00,0.00,73.94,73.94,469000000,469000000,2018-03-05 00:00:00,2018-03-05 00:00:00,낙찰,신용보증기금,서울,노원구,상계동,NaN,N,737.0,NaN,상계주공3단지(고층) 312동 5층 507호,아파트,1987-12-19 00:00:00,15,5,NaN,N,동일로215길,48.0,NaN,2018-05-16 00:00:00,배당,37.651857,127.058122,528897000
990,1526,임의,일반,274579434,프라임감정,2016-09-26 00:00:00,2,1,0.0,0.00,0.00,84.41,84.41,430000000,344000000,2017-07-03 00:00:00,2017-12-11 00:00:00,낙찰,신한은행,서울,성북구,돈암동,NaN,N,603.0,NaN,더샾아파트 108동 12층 1202호,아파트,2006-08-18 00:00:00,13,12,NaN,N,아리랑로5길,85.0,NaN,2018-03-15 00:00:00,배당,37.597690,127.010683,418999999
1052,77,임의,일반,637564403,SR감정,2015-08-26 00:00:00,1,0,0.0,0.00,0.00,97.63,97.63,800000000,800000000,2016-04-28 00:00:00,2016-04-28 00:00:00,낙찰,한국씨티은행,서울,강남구,수서동,NaN,N,712.0,NaN,수서한아름 104동 11층 1101호,아파트,1993-12-07 00:00:00,11,11,NaN,N,광평로51길,22.0,NaN,2016-07-07 00:00:00,배당,37.489365,127.103555,812470000
1075,1487,임의,일반,137280000,동부감정,2016-06-27 00:00:00,2,1,0.0,0.00,0.00,114.80,114.80,550000000,440000000,2017-03-27 00:00:00,2017-04-24 00:00:00,낙찰,Private,서울,중랑구,신내동,NaN,N,817.0,NaN,신내우디안2단지 213동 13층 1302호,아파트,2013-12-30 00:00:00,20,13,NaN,N,신내역로,165.0,NaN,2017-06-15 00:00:00,배당,37.616618,127.109590,486000000
1175,352,임의,일반,400000000,정평감정,2017-06-09 00:00:00,1,0,0.0,0.00,0.00,59.93,59.93,710000000,710000000,2017-11-08 00:00:00,2017-11-08 00:00:00,낙찰,Private,서울,서초구,신원동,NaN,N,285.0,NaN,서초포레스타6단지 605동 1층 106호,아파트,2015-04-15 00:00:00,7,1,NaN,N,청계산로9길,1.0,12.0,2018-01-30 00:00:00,배당,37.450307,127.055247,745500000
1194,645,임의,개별,1000000000,성림감정,2014-02-20 00:00:00,3,1,0.0,0.00,0.00,167.75,167.75,750000000,600000000,2015-07-07 00:00:00,2016-12-20 00:00:00,낙찰,프라임상호저축은행,서울,은평구,진관동,NaN,N,84.0,NaN,은평뉴타운우물골 230동 5층 502호,아파트,2010-02-09 00:00:00,5,5,NaN,N,진관2로,57.0,37.0,2017-02-23 00:00:00,배당,37.635359,126.927538,642200000
1209,818,강제,일반,151035237,진주감정,2016-07-26 00:00:00,2,1,0.0,0.00,0.00,80.11,80.11,180000000,144000000,2016-12-27 00:00:00,2017-05-30 00:00:00,낙찰,Private,서울,서대문구,홍제동,NaN,N,470.0,NaN,제일 101동 5층 503호,아파트,2015-10-21 00:00:00,10,5,NaN,N,통일로37나길,12.0,6.0,2017-08-17 00:00:00,배당,37.587270,126.942928,147000000
1212,1437,임의,일괄,600000000,영현감정,2016-07-12 00:00:00,5,3,0.0,603.20,603.20,1203.76,1203.76,5810000000,2974720000,2016-12-19 00:00:00,2017-07-17 00:00:00,낙찰,Private,서울,강북구,번동,NaN,N,460.0,67.0,번동모닝힐 1층 101호,아파트,1111-11-11 00:00:00,10,1,"*근린생활시설및공동주택(도시형생활주택)\n*수송초등교서측인근\n*주위노변상가,중.소...",N,0,NaN,NaN,2017-09-19 00:00:00,배당,37.637280,127.031419,3721000000
1250,1279,임의,일반,390530955,삼창감정,2014-01-29 00:00:00,2,1,0.0,0.00,0.00,84.69,84.69,364000000,291200000,2016-06-13 00:00:00,2016-07-25 00:00:00,낙찰,푸른상호저축은행,서울,중랑구,중화동,NaN,N,450.0,NaN,",-1,-2 한신 107동 2층 201호",아파트,1997-11-27 00:00:00,27,2,NaN,N,동일로,752.0,NaN,2016-09-08 00:00:00,배당,37.597051,127.081841,356720000
1266,953,임의,일반,49895283,엘리트감정,2015-08-20 00:00:00,1,0,0.0,0.00,0.00,89.67,89.67,255000000,255000000,2016-07-05 00:00:00,2016-07-05 00:00:00,낙찰,하나은행,서울,양천구,신월동,NaN,N,142.0,14.0,금하뜨라네 104동 4층 404호,아파트,1111-11-11 00:00:00,7,4,대지권등기를 위하여 추가부담금이 발생할 수 있으므로 조합등에 확인 필요함. 현재대지...,N,가로공원로56길,10.0,NaN,2016-10-05 00:00:00,배당,37.533991,126.823710,255100000
1299,585,강제,일반,320000000,한국씨티감정,2017-01-03 00:00:00,1,0,0.0,0.00,0.00,84.83,84.83,500000000,500000000,2018-01-22 00:00:00,2018-01-22 00:00:00,낙찰,서울보증보험,서울,강동구,강일동,NaN,N,670.0,NaN,강일리버파크 507동 6층 601호,아파트,2009-08-17 00:00:00,14,6,NaN,N,아리수로97길,20.0,NaN,2018-03-28 00:00:00,배당,37.568514,127.178137,563523400
1312,146,강제,일반,300000000,원중감정,2015-10-13 00:00:00,1,0,0.0,0.00,0.00,84.30,42.15,410000000,410000000,2016-08-11 00:00:00,2016-08-11 00:00:00,낙찰,Private,서울,서초구,내곡동,NaN,N,NaN,NaN,내곡보금자리주택지구1블록 서초더샵포레 116동 6층 603호,아파트,2014-09-02 00:00:00,11,6,NaN,Y,헌릉로8길,58.0,NaN,2016-10-04 00:00:00,배당,37.458100,127.076680,410000000
1346,1589,임의,일반,131283800,지평감정,2016-04-08 00:00:00,1,0,0.0,0.00,0.00,84.98,84.98,424000000,424000000,2016-09-26 00:00:00,2016-09-26 00:00:00,낙찰,코오롱글로벌,서울,도봉구,쌍문동,NaN,N,364.0,1.0,외58 북한산코오롱하늘채 103동 3층 301호,아파트,2014-07-07 00:00:00,18,3,NaN,N,0,NaN,NaN,2016-12-14 00:00:00,배당,37.647886,127.024071,424320000
1362,672,임의,일반,428400000,리파인감정,2015-06-08 00:00:00,3,2,0.0,0.00,0.00,220.96,220.96,602000000,385280000,2015-11-17 00:00:00,2016-04-12 00:00:00,낙찰,우리은행,서울,서대문구,홍은동,NaN,N,48.0,NaN,유진맨션A 84동 2층 204호,주상복합,1971-12-29 00:00:00,5,2,NaN,N,홍은중앙로,13.0,NaN,2016-06-08 00:00:00,배당,37.592564,126.943937,420000000
1380,739,임의,일반,480201339,가화감정,2015-07-08 00:00:00,3,2,0.0,0.00,0.00,167.69,167.69,890000000,569600000,2016-07-05 00:00:00,2016-09-13 00:00:00,낙찰,국민은행,서울,은평구,진관동,NaN,N,10.0,NaN,상림마을 은평뉴타운 735동 9층 901호,아파트,2008-06-25 00:00:00,15,9,NaN,N,진관4로,48.0,51.0,2016-11-24 00:00:00,배당,37.642422,126.930885,640100500
1408,8,임의,일반,106490490,정원감정,2013-07-08 00:00:00,1,0,0.0,0.00,0.00,84.82,84.82,380000000,380000000,2015-10-28 00:00:00,2016-07-06 00:00:00,낙찰,하나은행,서울,성북구,돈암동,NaN,N,603.0,NaN,더샾 105동 11층 1101호,아파트,2006-11-15 00:00:00,12,11,NaN,N,아리랑로5길,85.0,NaN,2016-09-01 00:00:00,배당,37.597690,127.010683,427359000
1455,129,강제,일반,826000000,세화감정,2016-01-11 00:00:00,2,1,0.0,0.00,0.00,84.61,84.61,860000000,688000000,2016-06-01 00:00:00,2016-08-10 00:00:00,낙찰,Private,서울,서초구,내곡동,NaN,N,77.0,NaN,서초더샵포레 101동 8층 802호,아파트,2014-09-02 00:00:00,18,8,NaN,N,헌릉로8길,58.0,NaN,2016-10-27 00:00:00,배당,37.451148,127.064487,1220000000
1492,1598,임의,일반,356508879,이노감정,2016-12-22 00:00:00,2,1,0.0,0.00,0.00,134.91,134.91,705000000,564000000,2017-02-20 00:00:00,2017-03-20 00:00:00,낙찰,솔로몬저축은행,서울,노원구,공릉동,NaN,N,106.0,NaN,효성화운트빌 306동 10층 1002호,아파트,2001-02-10 00:00:00,15,10,NaN,N,노원로,62.0,NaN,2017-05-31 00:00:00,배당,37.627608,127.086808,637000000
1521,10,강제,일괄,8955865567,대신감정,2015-05-21 00:00:00,4,3,0.0,2665.84,2665.84,4255.07,4255.07,27775000000,14220800000,2016-04-26 00:00:00,2016-12-28 00:00:00,낙찰,엘빈종합건설,서울,관악구,남현동,NaN,N,1079.0,13.0,외11 하이파크 101동 1층 101호,아파트,1111-11-11 00:00:00,10,1,"*사당초등학교남동측인근\n*부근중소규모아파트단지,다세대주택등공동주택,단독주택,근린생...",N,남현길,96.0,NaN,2017-04-14 00:00:00,배당,37.473014,126.974663,15151000000
1522,729,임의,일반,303801545,다원감정,2015-09-25 00:00:00,1,0,0.0,0.00,0.00,84.74,84.74,470000000,470000000,2016-05-03 00:00:00,2016-05-03 00:00:00,낙찰,신한은행,서울,은평구,진관동,NaN,N,154.0,NaN,은평뉴타운제각말 507동 2층 203호,아파트,2010-09-30 00:00:00,8,2,NaN,N,연서로48길,12.0,NaN,2016-06-16 00:00:00,배당,37.628431,126.932145,485000000
1546,744,임의,일괄,370245291,삼정감정,2015-11-13 00:00:00,4,3,0.0,218.00,218.00,280.86,280.86,1282540000,656661000,2016-11-08 00:00:00,2017-02-28 00:00:00,낙찰,우리은행,서울,서대문구,홍은동,NaN,N,4.0,9.0,2층 201호,아파트,1111-11-11 00:00:00,5,2,"*홍지문남서측인근\n*주변단독및다가구주택,원룸주택,노인전문요양센터,사찰(법륜사),야...",N,홍지문2길,53.0,NaN,2017-05-16 00:00:00,배당,37.598049,126.955948,783001000
1575,743,임의,일반,802684931,컬럼비아감정,2015-11-18 00:00:00,3,2,0.0,0.00,0.00,167.46,167.46,1080000000,691200000,2016-05-03 00:00:00,2016-07-12 00:00:00,낙찰,서울보증보험,서울,은평구,진관동,NaN,N,13.0,NaN,은평뉴타운상림마을 706동 14층 1401호,아파트,2008-06-04 00:00:00,15,14,NaN,N,진관4로,47.0,NaN,2016-09-07 00:00:00,배당,37.646066,126.926268,844500000
1596,986,임의,일반,288893863,김일수감정,2015-12-04 00:00:00,2,1,0.0,0.00,0.00,84.97,84.97,430000000,344000000,2016-08-16 00:00:00,2016-09-21 00:00:00,낙찰,우리은행,서울,구로구,천왕동,NaN,N,NaN,NaN,천왕도시개발사업지구4단지 천왕이펜하우스4단지 402동 6층 602호,아파트,2011-08-31 00:00:00,15,6,NaN,N,0,NaN,NaN,2016-12-07 00:00:00,배당,37.480200,126.839100,430699000
1690,167,임의,일반,400000000,중앙감정,2016-02-02 00:00:00,2,1,0.0,0.00,0.00,84.81,84.81,840000000,672000000,2016-08-10 00:00:00,2016-09-21 00:00:00,낙찰,Private,서울,서초구,내곡동,NaN,N,NaN,NaN,내곡보금자리주택지구1블록 서초더샵포레 111동 5층 501호,아파트,2014-09-02 00:00:00,17,5,NaN,N,헌릉로8길,58.0,NaN,2016-11-10 00:00:00,배당,37.458100,127.076680,844000000
1723,664,임의,일반,195000000,성림감정,2015-02-27 00:00:00,2,1,0.0,0.00,0.00,97.43,97.43,140000000,112000000,2016-03-22 00:00:00,2016-04-26 00:00:00,낙찰,Private,서울,마포구,성산동,NaN,N,199.0,7.0,학산빌라 1층 105호,아파트,2004-06-08 00:00:00,4,1,NaN,N,새터산5길,20.0,NaN,2016-07-07 00:00:00,배당,37.565335,126.906369,132230000
1730,1560,임의,일반,332374739,한울감정,2016-12-13 00:00:00,2,1,0.0,0.00,0.00,114.98,114.98,570000000,456000000,2017-06-12 00:00:00,2017-10-16 00:00:00,낙찰,국민은행,서울,도봉구,쌍문동,NaN,N,732.0,NaN,북한산코오롱하늘채 102동 4층 403호,아파트,2014-07-07 00:00:00,15,4,NaN,N,우이천로,367.0,NaN,2017-12-27 00:00:00,배당,37.648273,127.023277,535133600
1751,537,임의,일반,400000000,태평양감정,2016-07-11 00:00:00,1,0,0.0,0.00,0.00,84.96,84.96,712000000,712000000,2017-05-15 00:00:00,2017-05-15 00:00:00,낙찰,Private,서울,송파구,장지동,NaN,N,901.0,NaN,위례24단지 2417동 15층 1503호,아파트,2013-12-03 00:00:00,15,15,NaN,N,위례광장로,121.0,NaN,2017-07-12 00:00:00,배당,37.476829,127.138221,810000000
1766,12,강제,일반,14376000,이산감정,2014-03-04 00:00:00,13,9,0.0,0.00,0.00,59.92,59.92,110000000,14764000,2015-08-13 00:00:00,2017-01-26 00:00:00,낙찰,Private,서울,관악구,신림동,NaN,N,1710.0,NaN,원림 A동 401호,아파트,2000-12-13 00:00:00,5,4,NaN,N,관천로24길,14.0,NaN,2017-04-13 00:00:00,배당,37.488744,126.922745,19990000
1792,1336,임의,일반,250000000,삼상감정,2015-09-12 00:00:00,1,0,0.0,0.00,0.00,84.98,84.98,388000000,388000000,2016-05-30 00:00:00,2016-05-30 00:00:00,낙찰,Private,서울,성북구,종암동,NaN,N,132.0,NaN,종암우림카이져팰리스 102동 5층 501호,아파트,2008-06-27 00:00:00,25,5,NaN,N,종암로,132.0,NaN,2016-07-29 00:00:00,배당,37.601890,127.033485,410270000
1902,1342,강제,일반,148734247,생림감정,2015-09-23 00:00:00,3,2,0.0,0.00,0.00,134.94,67.47,322500000,206400000,2016-04-18 00:00:00,2016-06-20 00:00:00,낙찰,Private,서울,노원구,상계동,NaN,N,1265.0,NaN,미주동방벽운 109동 5층 501호,아파트,2000-06-28 00:00:00,15,5,NaN,Y,동일로250길,18.0,NaN,2016-08-09 00:00:00,배당,37.681585,127.056789,207999999

In [457]:
Raw_train[Raw_train['Total_building_area'].isnull()]

Empty DataFrame
Columns: [Auction_key, Auction_class, Bid_class, Claim_price, Appraisal_company, Appraisal_date, Auction_count, Auction_miscarriage_count, Total_land_gross_area, Total_land_real_area, Total_land_auction_area, Total_building_area, Total_building_auction_area, Total_appraisal_price, Minimum_sales_price, First_auction_date, Final_auction_date, Final_result, Creditor, addr_do, addr_si, addr_dong, addr_li, addr_san, addr_bunji1, addr_bunji2, addr_etc, Apartment_usage, Preserve_regist_date, Total_floor, Current_floor, Specific, Share_auction_YorN, road_name, road_bunji1, road_bunji2, Close_date, Close_result, point.y, point.x, Hammer_price]
Index: []

In [458]:
# 최종적으로 유찰된 example이 있는지 확인
print(Raw_train['Final_result'].unique())

# Close_result에 어떤 값들이 있는 지 확인
print(Raw_train['Close_result'].unique())

['낙찰']
['배당' '    ']

In [459]:
# Close_result에 NULL 값이 포함되어 있는 지 확인
print(Raw_train['Close_result'].isnull().sum())

0

In [460]:
# '배당' 이 아닌 종국결과를 출력
# 아마 낙찰은 받았지만 어떠한 이유에서 아직 배당을 받지 못한 경우인 듯 함.
# 즉, 낙찰을 되었지만 아직 배당되지 않아서 경매가 진행 중인 상황인 듯 함.
Raw_train[Raw_train['Close_result'] != '배당']

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
962,14,임의,일반,1138371040,리파인감정,2014-04-14 00:00:00,2,1,15487.3,78.55,78.55,168.42,168.42,1360000000,1088000000,2014-12-09 00:00:00,2016-04-05 00:00:00,낙찰,안양남부(새),서울,강남구,개포동,NaN,N,12.0,2.0,엘지개포자이 101동 5층 502호,아파트,2004-08-05 00:00:00,22,5,NaN,N,개포로109길,69.0,NaN,1111-11-11 00:00:00,,37.496297,127.076623,1207210000
1016,1,강제,개별,900000000,신명감정,2016-03-15 00:00:00,5,4,510.0,35.11,23.41,92.03,61.35,298000000,122061000,2011-06-21 00:00:00,2016-10-11 00:00:00,낙찰,푸른이상호저축,서울,동작구,상도동,NaN,N,1.0,5.0,삼부한강 2층 201호,아파트,2005-07-15 00:00:00,9,2,NaN,Y,0,NaN,NaN,1111-11-11 00:00:00,,37.508474,126.952834,172000000
1026,843,강제,일반,117409245,도시감정,2016-06-10 00:00:00,1,0,30235.4,47.17,47.17,84.99,84.99,667000000,667000000,2017-11-07 00:00:00,2017-11-07 00:00:00,낙찰,Private,서울,마포구,창전동,NaN,N,444.0,NaN,",445-4,448 서강쌍용예가 111동 4층 404호",아파트,2007-11-19 00:00:00,15,4,NaN,N,독막로,145.0,NaN,1111-11-11 00:00:00,,37.548457,126.929413,725550000
1040,264,임의,일반,94459726,지녕감정,2016-11-04 00:00:00,1,0,259.1,20.42,20.42,50.10,50.10,300000000,300000000,2017-09-20 00:00:00,2017-09-20 00:00:00,낙찰,Private,서울,강남구,논현동,NaN,N,102.0,9.0,논현빌라트 5층 502호,아파트,1999-08-30 00:00:00,5,5,NaN,N,선릉로137길,6.0,NaN,1111-11-11 00:00:00,,37.519267,127.039941,330000100
1146,1215,임의,일반,80000000,현산감정,2017-02-09 00:00:00,2,1,1145.0,56.86,56.86,94.62,94.62,286000000,228800000,2017-12-26 00:00:00,2018-02-06 00:00:00,낙찰,Private,서울,구로구,온수동,NaN,N,97.0,2.0,",99-4 두양그린 5층 503호",아파트,2002-05-30 00:00:00,5,5,NaN,N,부일로1길,136.0,9.0,1111-11-11 00:00:00,,37.495211,126.815756,265970000
1407,1738,임의,일반,70000000,화신감정,2017-09-25 00:00:00,2,1,82595.1,57.37,57.37,102.70,102.70,536000000,428800000,2018-01-22 00:00:00,2018-03-05 00:00:00,낙찰,Private,서울,중랑구,묵동,NaN,N,20.0,NaN,신내대림 501동 4층 403호,아파트,1996-01-30 00:00:00,12,4,NaN,N,신내로21길,16.0,NaN,1111-11-11 00:00:00,,37.616051,127.088214,538897000
1438,627,임의,일반,138000000,온누리감정,2017-06-21 00:00:00,2,1,1391.5,52.23,52.23,84.74,84.74,452000000,361600000,2018-01-29 00:00:00,2018-03-05 00:00:00,낙찰,Private,서울,강동구,성내동,NaN,N,405.0,9.0,한솔애리즈 801동 6층 603호,아파트,1111-11-11 00:00:00,7,6,NaN,N,양재대로95길,60.0,NaN,1111-11-11 00:00:00,,37.531094,127.133775,445000000
1627,1202,강제,일반,238616280,성민감정,2016-11-17 00:00:00,2,1,893.0,47.22,47.22,119.92,119.92,605000000,484000000,2017-05-23 00:00:00,2017-06-28 00:00:00,낙찰,Private,서울,양천구,신정동,NaN,N,118.0,19.0,목동그린빌라트 3층 301호,주상복합,1996-01-19 00:00:00,8,3,NaN,N,목동동로12길,38.0,NaN,1111-11-11 00:00:00,,37.522362,126.875448,556280000
1640,1683,강제,일반,64100475,기린감정,2017-04-28 00:00:00,2,1,25472.5,26.07,26.07,84.32,84.32,340000000,272000000,2017-09-11 00:00:00,2017-11-06 00:00:00,낙찰,Private,서울,중랑구,신내동,NaN,N,783.0,NaN,",-1,-2,상봉동480,-1 성원 102동 9층 902호",아파트,1994-12-20 00:00:00,25,9,NaN,N,신내로,51.0,NaN,1111-11-11 00:00:00,,37.604908,127.094707,331299000
1665,1667,임의,일반,181697863,프라임감정,2017-03-28 00:00:00,2,1,531.3,44.27,44.27,84.38,84.38,277000000,221600000,2017-08-28 00:00:00,2017-10-16 00:00:00,낙찰,Private,서울,중랑구,망우동,NaN,N,184.0,16.0,",-18,-20,-21 주영파크뷰 4층 401호",아파트,2004-04-08 00:00:00,7,4,NaN,N,용마산로114길,37.0,NaN,1111-11-11 00:00:00,,37.599278,127.103362,243100000
1867,1639,임의,일반,300000000,경인감정,2017-01-05 00:00:00,1,0,85205.0,52.29,52.29,68.86,68.86,350000000,350000000,2017-04-24 00:00:00,2017-12-11 00:00:00,낙찰,중소기업은행,서울,노원구,상계동,NaN,N,656.0,NaN,상계주공 1112동 1층 117호,아파트,1988-09-30 00:00:00,15,1,NaN,N,동일로227길,85.0,NaN,1111-11-11 00:00:00,,37.665138,127.052754,390000000
1924,1750,임의,일반,178831561,에이원감정,2017-03-08 00:00:00,1,0,25064.5,34.90,34.90,84.50,84.50,439000000,439000000,2017-07-03 00:00:00,2017-09-18 00:00:00,낙찰,굿이에프대부,서울,도봉구,창동,NaN,N,815.0,NaN,창동2차현대 208동 23층 2301호,아파트,2001-07-30 00:00:00,25,23,NaN,N,도봉로136길,111.0,NaN,1111-11-11 00:00:00,,37.661182,127.046189,453616100

In [461]:
Raw_train[Raw_train['Preserve_regist_date'] == '1111-11-11 00:00:00']

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
29,1783,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 8층 801호",주상복합,1111-11-11 00:00:00,15,8,"**1차감정:220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,126630000
32,1826,임의,일반,45000000,태화감정,2015-09-21 00:00:00,3,1,0.0,0.00,0.00,68.20,68.20,67000000,53600000,2016-09-30 00:00:00,2016-12-29 00:00:00,낙찰,Private,부산,연제구,연산동,NaN,Y,20.0,55.0,국토 4층 402호,아파트,1111-11-11 00:00:00,8,4,NaN,N,망미번영로,103.0,NaN,2017-03-08 00:00:00,배당,35.176351,129.111235,55203000
81,1914,강제,일반,180000000,태평양감정,2015-12-29 00:00:00,2,1,4010.0,21.10,21.10,84.99,84.99,288000000,230400000,2016-05-04 00:00:00,2016-06-01 00:00:00,낙찰,Private,부산,연제구,연산동,NaN,N,406.0,10.0,연산동한솔솔파크 101동 11층 1102호,아파트,1111-11-11 00:00:00,21,11,NaN,N,과정로,211.0,NaN,2016-08-03 00:00:00,배당,35.187269,129.103845,277111500
84,1781,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 7층 701호",주상복합,1111-11-11 00:00:00,15,7,"**1차감정:220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,135330000
118,1986,임의,일반,70000000,알비감정,2016-04-20 00:00:00,1,0,0.0,0.00,0.00,83.33,83.33,54700000,54700000,2016-07-20 00:00:00,2016-07-20 00:00:00,낙찰,Private,부산,연제구,연산동,NaN,Y,20.0,55.0,국토 1층 108호,아파트,1111-11-11 00:00:00,8,1,NaN,N,망미번영로,103.0,NaN,2016-10-19 00:00:00,배당,35.176351,129.111235,60000000
122,1780,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,18.22,18.22,107.28,107.28,249565981,127778000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 6층 602호",주상복합,1111-11-11 00:00:00,15,6,"**1차감정:240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,137800000
224,1789,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,5,532.0,16.65,16.65,98.08,98.08,228745632,93694000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 11층 1101호",주상복합,1111-11-11 00:00:00,15,11,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,135500000
227,2489,강제,일반,264300000,국제감정,2016-02-05 00:00:00,2,0,0.0,0.00,0.00,84.62,84.62,160000000,160000000,2016-08-17 00:00:00,2016-12-14 00:00:00,낙찰,Private,부산,수영구,남천동,NaN,N,27.0,3.0,",-16 남천마르빌빌딩 11층 1205호",주상복합,1111-11-11 00:00:00,20,11,NaN,N,수영로,452.0,14.0,2017-02-17 00:00:00,배당,35.145924,129.110288,173300000
239,1787,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 10층 1001호",주상복합,1111-11-11 00:00:00,15,10,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,135330000
294,2497,강제,일반,264300000,오상호감정,2016-02-12 00:00:00,1,0,1096.7,12.30,12.30,84.97,84.97,219000000,219000000,2016-08-17 00:00:00,2016-08-17 00:00:00,낙찰,Private,부산,수영구,남천동,NaN,N,27.0,3.0,",-16 남천마르빌빌딩 18층 1802호",주상복합,1111-11-11 00:00:00,20,18,NaN,N,수영로,452.0,14.0,2016-11-18 00:00:00,배당,35.145924,129.110288,220500000
303,2533,임의,일반,410382851,한마음감정,2016-05-16 00:00:00,2,1,2176.0,21.07,21.07,158.99,158.99,556000000,444800000,2016-09-22 00:00:00,2016-10-20 00:00:00,낙찰,동래농협,부산,해운대구,중동,NaN,N,1167.0,3.0,현대 아쿠아팰리스 해운대 102동 15층 1704호,주상복합,1111-11-11 00:00:00,30,15,NaN,N,달맞이길,35.0,NaN,2016-12-19 00:00:00,배당,35.162281,129.168620,549990000
311,1785,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,16.65,16.65,98.08,98.08,228745632,93694000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 9층 901호",주상복합,1111-11-11 00:00:00,15,9,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,136000000
370,1797,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,18.22,18.22,107.28,107.28,244565981,125218000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 15층 1502호",주상복합,1111-11-11 00:00:00,15,15,"**1차감정: 235,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,133630000
464,1791,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 12층 1201호",주상복합,1111-11-11 00:00:00,15,12,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,123000000
491,1794,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,18.22,18.22,107.28,107.28,249565981,102222000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 13층 1302호",주상복합,1111-11-11 00:00:00,15,13,"**1차감정: 240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,138010000
496,1776,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,5,3,532.0,16.65,16.65,98.08,98.08,218745632,111998000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 4층 401호",주상복합,1111-11-11 00:00:00,15,4,"**1차감정:210,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,117800000
519,2301,임의,일반,281292053,대일감정,2016-10-07 00:00:00,3,1,440.3,10.70,10.70,112.50,112.50,380000000,304000000,2017-09-12 00:00:00,2017-12-26 00:00:00,낙찰,동부화재해상보험,부산,영도구,대교동1가,NaN,N,1.0,NaN,브릿지타워 6층 602호,주상복합,1111-11-11 00:00:00,20,6,2016.11.04.임차인 김영준 배당요구신청 철회함,N,태종로,40.0,NaN,2018-03-08 00:00:00,배당,35.094470,129.036481,331000000
560,1796,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,18.22,18.22,107.28,107.28,249565981,127778000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 14층 1402호",주상복합,1111-11-11 00:00:00,15,14,"**1차감정: 240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,145990000
613,1782,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,18.22,18.22,107.28,107.28,249565981,127778000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 7층 702호",주상복합,1111-11-11 00:00:00,15,7,"**1차감정:240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,137800000
626,2401,임의,일반,137996981,한라감정,2016-08-29 00:00:00,3,2,10377.0,61.31,61.31,85.00,85.00,227000000,145280000,2017-11-01 00:00:00,2018-01-10 00:00:00,낙찰,에프케이엔1612유동화전문,부산,사하구,괴정동,NaN,N,207.0,52.0,",-45 괴정참누리 101동 1층 101호",아파트,1111-11-11 00:00:00,15,1,NaN,N,대티로17번길,47.0,NaN,2018-03-13 00:00:00,배당,35.106003,129.002455,182530000
637,1788,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,18.22,18.22,107.28,107.28,249565981,102222000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 10층 1002호",주상복합,1111-11-11 00:00:00,15,10,"**1차감정: 240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,136500000
656,1777,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,223745632,114558000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 5층 501호",주상복합,1111-11-11 00:00:00,15,5,"**1차감정:215,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,128900000
658,1795,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 14층 1401호",주상복합,1111-11-11 00:00:00,15,14,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,142630000
731,906,강제,개별,36500000,한울감정,2011-12-31 00:00:00,4,3,0.0,0.00,0.00,90.05,90.05,245000000,125440000,2015-12-23 00:00:00,2016-04-20 00:00:00,낙찰,Private,서울,양천구,신월동,NaN,N,142.0,14.0,뜨라네 106동 3층 304호,아파트,1111-11-11 00:00:00,7,3,NaN,N,가로공원로56길,10.0,NaN,2016-06-28 00:00:00,배당,37.533991,126.823710,187500000
777,271,임의,일반,404899792,현대기업감정,2016-12-12 00:00:00,2,1,21792.5,47.45,47.45,84.85,84.85,666000000,532800000,2017-04-13 00:00:00,2017-06-08 00:00:00,낙찰,우리은행,서울,동작구,사당동,NaN,N,1157.0,NaN,이수역리가 102동 16층 16층1603호,아파트,1111-11-11 00:00:00,16,16,NaN,N,사당로27길,130.0,NaN,2017-08-17 00:00:00,배당,37.489550,126.973772,687880000
779,1477,임의,일반,233237278,두환감정,2016-06-20 00:00:00,2,1,1327.5,36.14,36.14,72.84,72.84,340000000,272000000,2016-09-26 00:00:00,2016-11-07 00:00:00,낙찰,페퍼저축은행,서울,동대문구,장안동,NaN,N,570.0,NaN,청원파크빌 2층 201호,아파트,1111-11-11 00:00:00,9,2,NaN,N,한천로14길,8.0,NaN,2016-12-28 00:00:00,배당,37.567122,127.063013,300000000
823,1608,임의,개별,600000000,이노감정,2016-07-22 00:00:00,1,0,2548.2,27.71,27.71,49.60,49.60,211000000,211000000,2016-11-28 00:00:00,2016-11-28 00:00:00,낙찰,광등종합건설,서울,노원구,공릉동,NaN,N,757.0,NaN,우국리더스빌 1층 107호,아파트,1111-11-11 00:00:00,15,1,NaN,N,동일로197길,85.0,NaN,2017-03-29 00:00:00,배당,37.626154,127.070337,214090000
844,43,임의,일반,120000000,두환감정,2015-04-24 00:00:00,3,2,737.2,58.35,58.35,173.24,173.24,1000000000,640000000,2016-04-26 00:00:00,2016-12-28 00:00:00,낙찰,Private,서울,서초구,서초동,NaN,N,1679.0,6.0,",-7 에지앙 5층 502호",아파트,1111-11-11 00:00:00,9,5,NaN,N,서초대로64길,13.0,NaN,2017-03-17 00:00:00,배당,37.494985,127.020908,864999999
853,1651,임의,일반,43170233,지평감정,2017-04-19 00:00:00,2,1,0.0,0.00,0.00,84.82,84.82,412000000,329600000,2017-11-06 00:00:00,2017-12-04 00:00:00,낙찰,하나은행,서울,성북구,돈암동,NaN,N,603.0,NaN,돈암동더샾 103동 1층 101호,아파트,1111-11-11 00:00:00,19,1,NaN,N,아리랑로5길,85.0,NaN,2018-01-31 00:00:00,배당,37.597690,127.010683,407001000
866,1002,임의,일반,514161871,구정감정,2015-12-26 00:00:00,2,1,8783.0,26.44,26.44,199.46,199.46,1400000000,1120000000,2016-04-14 00:00:00,2016-05-18 00:00:00,낙찰,현대라이프생명보험,서울,영등포구,여의도동,NaN,N,36.0,NaN,롯데캐슬엠파이어 102동 34층 3402호,주상복합,1111-11-11 00:00:00,39,34,NaN,N,의사당대로,127.0,NaN,2016-08-11 00:00:00,배당,37.520251,126.926386,1131110000
917,1068,임의,일반,872504514,한터감정,2016-06-01 00:00:00,2,1,9917.0,25.82,25.82,187.24,187.24,1200000000,960000000,2016-09-27 00:00:00,2016-11-01 00:00:00,낙찰,국민은행,서울,영등포구,여의도동,NaN,N,43.0,4.0,",-5 롯데캐슬아이비 7층 101-708호",아파트,1111-11-11 00:00:00,35,7,NaN,N,국제금융로,86.0,NaN,2016-12-20 00:00:00,배당,37.520239,126.931751,1023070000
1065,765,강제,일반,400000000,로얄감정,2015-12-03 00:00:00,1,0,5421.0,64.42,64.42,130.90,130.90,339000000,339000000,2017-06-20 00:00:00,2017-06-20 00:00:00,낙찰,기술신용보증기금,서울,서대문구,홍은동,NaN,Y,11.0,244.0,",-245,-249,174-4,-6,-7,-15,-9 세한숲속마을 4층 401호",아파트,1111-11-11 00:00:00,14,4,NaN,N,통일로,555.0,NaN,2017-08-25 00:00:00,배당,37.600584,126.946719,387489000
1212,1437,임의,일괄,600000000,영현감정,2016-07-12 00:00:00,5,3,0.0,603.20,603.20,1203.76,1203.76,5810000000,2974720000,2016-12-19 00:00:00,2017-07-17 00:00:00,낙찰,Private,서울,강북구,번동,NaN,N,460.0,67.0,번동모닝힐 1층 101호,아파트,1111-11-11 00:00:00,10,1,"*근린생활시설및공동주택(도시형생활주택)\n*수송초등교서측인근\n*주위노변상가,중.소...",N,0,NaN,NaN,2017-09-19 00:00:00,배당,37.637280,127.031419,3721000000
1266,953,임의,일반,49895283,엘리트감정,2015-08-20 00:00:00,1,0,0.0,0.00,0.00,89.67,89.67,255000000,255000000,2016-07-05 00:00:00,2016-07-05 00:00:00,낙찰,하나은행,서울,양천구,신월동,NaN,N,142.0,14.0,금하뜨라네 104동 4층 404호,아파트,1111-11-11 00:00:00,7,4,대지권등기를 위하여 추가부담금이 발생할 수 있으므로 조합등에 확인 필요함. 현재대지...,N,가로공원로56길,10.0,NaN,2016-10-05 00:00:00,배당,37.533991,126.823710,255100000
1316,445,강제,일반,380000000,준경감정,2015-09-18 00:00:00,2,1,13740.6,35.55,35.55,84.70,84.70,790000000,632000000,2016-04-25 00:00:00,2016-05-30 00:00:00,낙찰,Private,서울,성동구,옥수동,NaN,N,560.0,NaN,옥수어울림 102동 10층 1003호,아파트,1111-11-11 00:00:00,20,10,NaN,N,독서당로40길,37.0,NaN,2016-07-22 00:00:00,배당,37.542245,127.018346,734777000
1438,627,임의,일반,138000000,온누리감정,2017-06-21 00:00:00,2,1,1391.5,52.23,52.23,84.74,84.74,452000000,361600000,2018-01-29 00:00:00,2018-03-05 00:00:00,낙찰,Private,서울,강동구,성내동,NaN,N,405.0,9.0,한솔애리즈 801동 6층 603호,아파트,1111-11-11 00:00:00,7,6,NaN,N,양재대로95길,60.0,NaN,1111-11-11 00:00:00,,37.531094,127.133775,445000000
1486,854,강제,일반,180000000,원일감정,2016-01-23 00:00:00,1,0,469.0,29.82,29.82,77.41,77.41,280000000,280000000,2016-07-05 00:00:00,2016-07-05 00:00:00,낙찰,Private,서울,서대문구,연희동,NaN,N,69.0,21.0,백광 6층 601호,아파트,1111-11-11 00:00:00,6,6,NaN,N,연희로16길,4.0,NaN,2016-09-09 00:00:00,배당,37.567624,126.932096,295480000
1521,10,강제,일괄,8955865567,대신감정,2015-05-21 00:00:00,4,3,0.0,2665.84,2665.84,4255.07,4255.07,27775000000,14220800000,2016-04-26 00:00:00,2016-12-28 00:00:00,낙찰,엘빈종합건설,서울,관악구,남현동,NaN,N,1079.0,13.0,외11 하이파크 101동 1층 101호,아파트,1111-11-11 00:00:00,10,1,"*사당초등학교남동측인근\n*부근중소규모아파트단지,다세대주택등공동주택,단독주택,근린생...",N,남현길,96.0,NaN,2017-04-14 00:00:00,배당,37.473014,126.974663,15151000000
1546,744,임의,일괄,370245291,삼정감정,2015-11-13 00:00:00,4,3,0.0,218.00,218.00,280.86,280.86,1282540000,656661000,2016-11-08 00:00:00,2017-02-28 00:00:00,낙찰,우리은행,서울,서대문구,홍은동,NaN,N,4.0,9.0,2층 201호,아파트,1111-11-11 00:00:00,5,2,"*홍지문남서측인근\n*주변단독및다가구주택,원룸주택,노인전문요양센터,사찰(법륜사),야...",N,홍지문2길,53.0,NaN,2017-05-16 00:00:00,배당,37.598049,126.955948,783001000
1722,101,임의,일반,288564318,현대기업감정,2015-11-13 00:00:00,2,1,2038.8,125.33,125.33,227.44,227.44,1280000000,1024000000,2016-04-27 00:00:00,2016-06-01 00:00:00,낙찰,와이더블유,서울,서초구,서초동,NaN,N,1464.0,4.0,",-5,-6,-8,-9,-49 벽산서초블루밍 4층 402호",아파트,1111-11-11 00:00:00,6,4,NaN,N,반포대로1길,11.0,NaN,2016-07-21 00:00:00,배당,37.481379,127.011757,1074010000
1747,1314,강제,일반,201335667,더존감정,2015-06-02 00:00:00,1,0,30545.0,34.17,11.39,84.98,28.33,130000000,130000000,2016-09-19 00:00:00,2016-09-19 00:00:00,낙찰,아림조명상사,서울,성북구,돈암동,NaN,N,524.0,NaN,일신휴먼빌 110동 17층 1702호,아파트,1111-11-11 00:00:00,20,17,공유자우선매수제한있음,Y,아리랑로,89.0,NaN,2016-11-23 00:00:00,배당,37.600927,127.012525,150900000
1808,1609,임의,개별,600000000,이노감정,2016-07-22 00:00:00,2,1,2548.2,28.89,28.89,51.67,51.67,232000000,185600000,2016-11-28 00:00:00,2016-12-26 00:00:00,낙찰,광등종합건설,서울,노원구,공릉동,NaN,N,757.0,NaN,우국리더스빌 14층 1405호,아파트,1111-11-11 00:00:00,15,14,NaN,N,동일로197길,85.0,NaN,2017-03-29 00:00:00,배당,37.626154,127.070337,201999990
1912,102,임의,일반,357918375,대신감정,2015-10-30 00:00:00,2,1,2405.8,60.13,60.13,121.27,121.27,940000000,752000000,2016-04-21 00:00:00,2017-04-06 00:00:00,낙찰,국민은행,서울,서초구,방배동,NaN,N,981.0,40.0,브라운스톤효령 2층 205호,아파트,1111-11-11 00:00:00,9,2,NaN,N,효령로26길,15.0,NaN,2017-06-21 00:00:00,배당,37.479785,126.995602,920500000

In [462]:
# Apartment Usage에 어떤 값들이 있는 지 확인
print(Raw_train['Apartment_usage'].unique())

['주상복합' '아파트']

In [463]:
#idx = Raw_train[Raw_train['Preserve_regist_date'] == "1111-11-11 00:00:00"].index
#Raw_train.loc[idx, 'Preserve_regist_date'] = Raw_train.loc[idx,'Appraisal_date']

#Raw_train

In [464]:
# feature engineering
from datetime import datetime, timedelta

# Target to log
log_values = np.log(Raw_train['Hammer_price'])
Raw_train['Hammer_price'] = log_values

def feature_engineering(df) :
    idx = df[df['Preserve_regist_date'] == "1111-11-11 00:00:00"].index
    df.loc[idx, 'Preserve_regist_date'] = df.loc[idx,'Appraisal_date']
    
    # 사용하지 않는 feature drop
    df = df.drop(['Auction_key', 'Appraisal_company', 'Final_result', 'Creditor', 'addr_do',
                           'addr_si', 'addr_dong', 'addr_li', 'addr_san', 'addr_bunji1', 'addr_bunji2',
                           'addr_etc', 'Specific', 'road_name', 'road_bunji1', 'road_bunji2', 'Close_date'], axis = 1)
    
    # 유찰 비율 feature 생성
    df['Miscarriage_rate'] = df['Auction_miscarriage_count'] / df['Auction_count']
    df = df.drop(['Auction_miscarriage_count', 'Auction_count'], axis = 1)
    
    # 층고율 feature 생성
    df['floor_rate'] = df['Current_floor'] / df['Total_floor']
    df = df.drop(['Current_floor', 'Total_floor'], axis = 1)
    
    # 감정가에 대한 최저매각가격의 부담율
    df['Minimum_per_appraisal'] = df['Minimum_sales_price'] / df['Total_appraisal_price']
    df = df.drop(['Minimum_sales_price'], axis = 1)
    
    # 감정가에 대한 청구금액의 부담율(비취하율)
    df['Claim_per_appraisal'] = df['Claim_price'] / df['Total_appraisal_price']
    df = df.drop(['Claim_price', 'Total_appraisal_price'], axis = 1)
    
    # 실질 경매 면적율
    df['Auction_real_area_rate'] = (((df['Total_land_real_area'] + df['Total_building_auction_area']) * df['Total_land_auction_area']) 
                                     / (df['Total_building_area'] + df['Total_land_gross_area']))
    df = df.drop(['Total_land_real_area', 'Total_land_gross_area', 'Total_land_auction_area',
                 'Total_building_auction_area', 'Total_building_area'], axis = 1)
    
    # One-hot Encoding
    df = pd.get_dummies(df, columns=['Bid_class', 'Auction_class', 'Auction_class', 'Apartment_usage', 'Share_auction_YorN', 'Close_result'])
    
    # date processing
    df['Appraisal_date'] = pd.to_datetime(df['Appraisal_date'], format="%Y-%m-%d %H:%M:%S")
    df['First_auction_date'] = pd.to_datetime(df['First_auction_date'], format="%Y-%m-%d %H:%M:%S")
    df['Final_auction_date'] = pd.to_datetime(df['Final_auction_date'], format="%Y-%m-%d %H:%M:%S")
    df['Preserve_regist_date'] = pd.to_datetime(df['Preserve_regist_date'], format="%Y-%m-%d %H:%M:%S")
    
    Preserve_to_Appraisal = df['Appraisal_date'] - df['Preserve_regist_date']
    Appraisal_to_first = df['First_auction_date'] - df['Appraisal_date']
    First_to_final = df['Final_auction_date'] - df['First_auction_date']
    
    Preserve_to_Appraisal = Preserve_to_Appraisal.astype(np.int64)
    Appraisal_to_first = Appraisal_to_first.astype(np.int64)
    First_to_final = First_to_final.astype(np.int64)
    
    df['Auction_duration_rate'] = (Appraisal_to_first + First_to_final) / (Preserve_to_Appraisal + Appraisal_to_first + First_to_final)
    
    df = df.drop(['Appraisal_date', 'First_auction_date', 'Final_auction_date', 'Preserve_regist_date'], axis = 1)
    
    return df

In [465]:
Raw_train = feature_engineering(Raw_train)

Raw_train

,point.y,point.x,Hammer_price,Miscarriage_rate,floor_rate,Minimum_per_appraisal,Claim_per_appraisal,Auction_real_area_rate,Bid_class_개별,Bid_class_일괄,Bid_class_일반,Auction_class_강제,Auction_class_임의,Auction_class_강제,Auction_class_임의,Apartment_usage_아파트,Apartment_usage_주상복합,Share_auction_YorN_N,Share_auction_YorN_Y,Close_result_,Close_result_배당,Auction_duration_rate
0,35.162717,129.137048,20.448829,0.500000,0.111111,0.80,2.112485,0.640698,1,0,0,0,1,0,1,0,1,1,0,0,1,0.074740
1,35.156633,129.145068,20.694753,0.500000,0.728571,0.80,0.142541,0.060398,0,0,1,0,1,0,1,1,0,1,0,0,1,0.076267
2,35.184601,128.996765,18.352402,0.666667,0.933333,0.64,0.095181,0.057347,1,0,0,0,1,0,1,1,0,1,0,0,1,0.035307
3,35.154180,129.089081,19.364194,0.500000,0.550000,0.80,0.636552,0.158760,0,0,1,0,1,0,1,1,0,1,0,0,1,0.054399
4,35.099630,128.998874,18.882274,0.500000,1.000000,0.80,0.269927,6.845168,0,0,1,1,0,1,0,1,0,1,0,0,1,0.027783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1928,37.648811,127.048683,19.813206,0.000000,0.714286,1.00,0.698254,0.076473,0,0,1,1,0,1,0,1,0,1,0,0,1,0.013576
1929,37.663291,127.077063,19.879841,0.500000,1.000000,0.80,0.440529,0.297569,0,0,1,0,1,0,1,1,0,1,0,0,1,0.122492
1930,37.558319,126.981994,20.835701,0.500000,0.593750,0.80,0.276113,0.383392,0,0,1,0,1,0,1,0,1,1,0,0,1,0.203770
1931,37.647061,127.028002,19.814447,0.500000,0.733333,0.80,0.196560,0.316337,0,0,1,1,0,1,0,1,0,1,0,0,1,0.029291
1932,37.566255,126.848961,20.346403,0.500000,0.318182,0.80,0.240000,0.208478,0,0,1,0,1,0,1,1,0,1,0,0,1,0.439608

In [466]:
Raw_test

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
0,1778,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,18.22,18.22,107.28,107.28,244565981,100174000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 5층 502호",주상복합,1111-11-11 00:00:00,15,5,"**1차감정:235,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,0
1,1779,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 6층 601호",주상복합,1111-11-11 00:00:00,15,6,"**1차감정:220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,0
2,1784,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,18.22,18.22,107.28,107.28,249565981,102222000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 8층 802호",주상복합,1111-11-11 00:00:00,15,8,"**1차감정: 240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,0
3,1786,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,18.22,18.22,107.28,107.28,249565981,102222000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 9층 902호",주상복합,1111-11-11 00:00:00,15,9,"**1차감정: 240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,0
4,1790,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,18.22,18.22,107.28,107.28,249565981,102222000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 11층 1102호",주상복합,1111-11-11 00:00:00,15,11,"**1차감정: 240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,1762,강제,개별,4249164200,강림감정,2017-06-12 00:00:00,2,1,3460.9,13.87,13.87,84.91,84.91,420000000,336000000,2017-11-27 00:00:00,2017-12-26 00:00:00,낙찰,서희건설,서울,성북구,하월곡동,NaN,N,229.0,NaN,길음서희스타힐스 23층 2304호,주상복합,2011-12-13 00:00:00,23,23,NaN,N,동소문로,284.0,NaN,2018-02-28 00:00:00,배당,37.605407,127.027309,0
825,1767,강제,일반,320000000,삼일감정,2017-06-27 00:00:00,2,1,13578.9,72.81,72.81,150.66,150.66,580000000,464000000,2017-12-18 00:00:00,2018-01-22 00:00:00,낙찰,신용보증기금,서울,도봉구,방학동,NaN,N,689.0,NaN,", 690-41 방학동부센트레빌 103동 3층 304호",아파트,2005-12-15 00:00:00,14,3,NaN,N,방학로,120.0,NaN,2018-03-29 00:00:00,배당,37.663305,127.039551,0
826,1770,강제,일반,160000000,성북감정,2017-08-01 00:00:00,2,1,57491.8,34.03,34.03,49.77,49.77,293000000,234400000,2017-11-06 00:00:00,2017-12-04 00:00:00,낙찰,Private,서울,중랑구,신내동,NaN,N,650.0,NaN,신내 616동 5층 508호,아파트,1996-05-08 00:00:00,12,5,NaN,N,신내로19길,42.0,NaN,2018-02-07 00:00:00,배당,37.614529,127.091109,0
827,1772,임의,일반,230000000,생림감정,2017-09-28 00:00:00,1,0,27710.2,42.54,42.54,84.84,84.84,492000000,492000000,2018-01-29 00:00:00,2018-01-29 00:00:00,낙찰,중소기업은행,서울,성북구,장위동,NaN,N,317.0,NaN,꿈의숲대명루첸 109동 16층 1601호,아파트,2009-02-19 00:00:00,17,16,NaN,N,월계로36길,27.0,NaN,2018-04-24 00:00:00,배당,37.620359,127.047071,0
828,1774,임의,일반,6136088,이정희감정,2017-10-27 00:00:00,1,0,10987.8,33.16,33.16,84.99,84.99,400000000,400000000,2018-03-12 00:00:00,2018-03-12 00:00:00,낙찰,삼성생명보험,서울,중랑구,상봉동,NaN,N,495.0,NaN,",-1,-3 동부 101동 12층 1208호",아파트,1999-05-14 00:00:00,22,12,NaN,N,신내로7가길,31.0,NaN,1111-11-11 00:00:00,,37.602064,127.093838,0

In [467]:
#idx = Raw_test[Raw_test['Preserve_regist_date'] == "1111-11-11 00:00:00"].index
#Raw_test = Raw_test.drop(idx)

Raw_test = feature_engineering(Raw_test)

Raw_test

,point.y,point.x,Hammer_price,Miscarriage_rate,floor_rate,Minimum_per_appraisal,Claim_per_appraisal,Auction_real_area_rate,Bid_class_개별,Bid_class_일괄,Bid_class_일반,Auction_class_강제,Auction_class_임의,Auction_class_강제,Auction_class_임의,Apartment_usage_아파트,Apartment_usage_주상복합,Share_auction_YorN_N,Share_auction_YorN_Y,Close_result_,Close_result_배당,Auction_duration_rate
0,35.201112,129.088687,0,0.857143,0.333333,0.409599,4.444608,3.576852,1,0,0,1,0,1,0,0,1,1,0,0,1,1.000000
1,35.201112,129.088687,0,0.833333,0.400000,0.512001,4.752003,3.031765,1,0,0,1,0,1,0,0,1,1,0,0,1,1.000000
2,35.201112,129.088687,0,0.857143,0.533333,0.409599,4.355562,3.576852,1,0,0,1,0,1,0,0,1,1,0,0,1,1.000000
3,35.201112,129.088687,0,0.857143,0.600000,0.409599,4.355562,3.576852,1,0,0,1,0,1,0,0,1,1,0,0,1,1.000000
4,35.201112,129.088687,0,0.857143,0.733333,0.409599,4.355562,3.576852,1,0,0,1,0,1,0,0,1,1,0,0,1,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,37.605407,127.027309,0,0.500000,1.000000,0.800000,10.117058,0.386394,1,0,0,1,0,1,0,0,1,1,0,0,1,0.089342
825,37.663305,127.039551,0,0.500000,0.214286,0.800000,0.551724,1.185096,0,0,1,1,0,1,0,1,0,1,0,0,1,0.047274
826,37.614529,127.091109,0,0.500000,0.416667,0.800000,0.546075,0.049559,0,0,1,1,0,1,0,1,0,1,0,0,1,0.015863
827,37.620359,127.047071,0,0.000000,0.941176,1.000000,0.467480,0.194954,0,0,1,0,1,0,1,1,0,1,0,0,1,0.037661
828,37.602064,127.093838,0,0.000000,0.545455,1.000000,0.015340,0.353827,0,0,1,0,1,0,1,1,0,1,0,1,0,0.019776

In [468]:
X_train = Raw_train.drop(['Hammer_price'], axis = 1)
y_train = Raw_train['Hammer_price']

X_test = Raw_test.drop(['Hammer_price'], axis = 1)

In [469]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

linear = LinearRegression()
svr = SVR()

linear.fit(X_train, y_train)
svr.fit(X_train, y_train)

y_pred_linear = linear.predict(X_train)
y_pred_svr = svr.predict(X_train)

predict_linear = linear.predict(X_test)
predict_svr = svr.predict(X_test)

In [470]:
from sklearn.metrics import mean_squared_error

print("mean_squared_error for LinearRegression : {}".format(mean_squared_error(y_train, y_pred_linear)))
print("mean_squared_error for SupportVectorRegressor : {}".format(mean_squared_error(y_train, y_pred_svr)))

mean_squared_error for LinearRegression : 0.4460220975555672
mean_squared_error for SupportVectorRegressor : 0.6080835167069719

In [471]:
submission

     Auction_key  Hammer_price
0           1778             0
1           1779             0
2           1784             0
3           1786             0
4           1790             0
..           ...           ...
824         1762             0
825         1767             0
826         1770             0
827         1772             0
828         1774             0

[829 rows x 2 columns]

In [472]:
submission['Hammer_price'] = np.exp(predict_linear)
submission['Hammer_price'] = submission['Hammer_price'].astype(np.float64)

submission

     Auction_key  Hammer_price
0           1778  1.059008e+08
1           1779  1.296743e+08
2           1784  1.085370e+08
3           1786  1.094087e+08
4           1790  1.111731e+08
..           ...           ...
824         1762  3.426727e+08
825         1767  4.420109e+08
826         1770  4.403112e+08
827         1772  5.629121e+08
828         1774  5.166596e+08

[829 rows x 2 columns]

In [475]:
submission.to_csv("result.csv", header=True, index=False)