# Performance Test for `Version 4`

## Import Module

In [1]:
import pandas as pd

from sklearn.ensemble import RandomForestRegressor

## Data Load

In [2]:
DATA_ROOT = ''
DATA_ROOT = os.path.join(DATA_ROOT, "../../../../competition_data/parking_data/")

TRAIN_ROOT = os.path.join(DATA_ROOT, "train_version_4.csv")
TEST_ROOT = os.path.join(DATA_ROOT, "test_version_4.csv")
SUBMISSION_ROOT = os.path.join(DATA_ROOT, "sample_submission.csv")

print(f"DATA_ROOT : {DATA_ROOT}")
print(f"TRAIN_ROOT : {TRAIN_ROOT}")
print(f"TEST_ROOT : {TEST_ROOT}")
print(f"SUBMISSION_ROOT : {SUBMISSION_ROOT}")

DATA_ROOT : ../../../../competition_data/parking_data/
TRAIN_ROOT : ../../../../competition_data/parking_data/train_version_3.csv
TEST_ROOT : ../../../../competition_data/parking_data/test_version_3.csv
SUBMISSION_ROOT : ../../../../competition_data/parking_data/sample_submission.csv

In [3]:
train = pd.read_csv(TRAIN_ROOT)
test = pd.read_csv(TEST_ROOT)
submission = pd.read_csv(SUBMISSION_ROOT)

print("Data Loaded!")

Data Loaded!

## Model (baseline)

In [19]:
model = RandomForestRegressor(n_jobs=-1, random_state=42)

## Train

In [26]:
x_train = train.drop(['단지코드', '등록차량수'], axis=1)
y_train = train.등록차량수
x_test = test.drop(['단지코드'], axis=1)

In [27]:
model.fit(x_train, y_train)

RandomForestRegressor(n_jobs=-1, random_state=42)

## Inference & Submission

In [28]:
predict = model.predict(x_test)

In [29]:
submission

      code  num
0    C1072    0
1    C1128    0
2    C1456    0
3    C1840    0
4    C1332    0
..     ...  ...
145  C2456    0
146  C1266    0
147  C2152    0
148  C1267    0
149  C2189    0

[150 rows x 2 columns]

In [30]:
submission['num'] = predict

In [32]:
submission.to_csv('version_4.csv', index=False)