# Data Loader

- Target : 아파트 낙찰가

- Files
> - **Auction_Master_train.csv** ; 서울/부산 지역의 낙찰가를 포함하여 경매 물건 아파트의 위치, 감정가, 경매 개시/종결일 등의 기본 정보 (최근 2년)
> - **Auction_Master_test.csv** ; 경매 낙찰가를 제외하고 train.csv와 동일
> - **Auction_submission.csv** ; 예측한 낙찰가를 기입하여 제출
> - **Auction_regist.csv** ; 아파트에 대한 등기 정보
> - **Auction_result.csv** ; 경매일자, 감정가, 최저매각가격, 경매 결과 데이터.
> - **Auction_rent.csv** ; 해당 아파트에 임차인이 있는 경우, 전입/점유 여부, 보증금, 월세 등의 데이터.

- Features
> - Auction_key ; 경매 아파트 고유 키값
> - Auction_class ; 경매구분 
> > - **강제경매** : 법원에 소송을 제기하여 판결을 얻은 후 집행권원에 따라 경매를 진행 
> > - **임의경매** : 등기부등본 담보권(저당권, 가압류등)으로 경매를 진행
> - Bid_class ; 입찰구분(일반/개별/일괄)
> - Claim_price ; 경매 신청인의 청구 금액
> - Appraisal_company ; 감정사
> - Appraisal_date ; 감정일자
> - Auction_count ; 총경매횟수
> - Auction_miscarriage_count ; 총유찰횟수
> > - 입찰 결과 낙찰(落札)이 결정되지 아니하고 무효로 돌아가는 일. 응찰 가격이 내정 가격에 미달될 때 주로 일어남.
> - Total_land_gross_area ; 총토지전체면적(㎡)
> - Total_land_real_area ; 총토지실면적(㎡)
> - Total_land_auction_area ; 총토지경매면적(㎡)
> - Total_building_area ; 총건물면적(㎡)
> - Total_building_auction_area ; 총건물경매면적(㎡)
> - Total_appraisal_price ; 총감정가
> - Minimum_sales_price ; 최저매각가격
> > - 입찰 시 입찰인이 최저로 제시해야만 하는 금액
> - First_auction_date ; 최초경매일
> - Final_acution_date ; 최종경매일
> - Final_result ; 최종결과
> - Creditor ; 채권자, 경매 신청인
> - addr_do ; 주소_시도
> - addr_si ; 시군구
> - addr_dong ; 읍면동
> - addr_li ; 리
> - addr_san ; 주소_산번지 여부(Y)
> - addr_bunji1 ; 주소_번지1
> - addr_bunji2 ; 주소_번지2
> - addr_etc ; 주소_기타주소
> - Apartment_usage ; 건물(토지)의 대표 용도
> - Completion_date ; 준공일
> - Preserve_regist_date ; 보존등기일, 건물을 신축하고 처음으로 등기
> - Total_floor ; 총 층수
> - Current_floor ; 현재 층 수
> - Specific ; 기타_특이사항
> - Share_auction_YorN ; 지분경매 여부(Y)
> > - 하나의 부동산이 전체가 아닌 일부만 경매가 진행 (하나의 부동산의 공유자가 지분으로 소유권을 가지고 있을 때 그중 일부 지분만 경매가 진행)
> - road_name ; 도로명주소_도로명
> - road_bunji1 ; 도로명주소_번지1
> - road_bunji2 ; 도로명주소_번지2
> - Close_date ; 종국일자
> - Close_result ; 종국결과, 낙찰과 배당의 차이
> > - 경매 진행은 ①경매진행(낙찰) ▷ ②낙찰허가결정 ▷ ③대금납부 ▷ ④배당 후 종결 로 이뤄집니다. 낙찰자가 최고가로 입찰(①)해서 낙찰허가(②)를 받으면 대금납부기한 낙찰금을 입금(③)합니다. 법원은 납부된 낙찰금을 가지고 채권자에게 순위에 의한 배당(④)을 해주고 경매는 종결됩니다.
> - point.y ; 위도
> - point.x ; 경도
> - Hammer_price ; 낙찰가

In [154]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 100)

Raw_train = pd.read_csv("./data/Auction_Master_train.csv")
Raw_test = pd.read_csv("./data/Auction_Master_test.csv")
submission = pd.read_csv("./data/Auction_submission.csv")
regist = pd.read_csv("./data/Auction_regist.csv")
result = pd.read_csv("./data/Auction_result.csv")
rend = pd.read_csv("./data/Auction_result.csv")

In [155]:
Raw_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1933 entries, 0 to 1932
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Auction_key                  1933 non-null   int64
 1   Auction_class                1933 non-null   object
 2   Bid_class                    1933 non-null   object
 3   Claim_price                  1933 non-null   int64
 4   Appraisal_company            1933 non-null   object
 5   Appraisal_date               1933 non-null   object
 6   Auction_count                1933 non-null   int64
 7   Auction_miscarriage_count    1933 non-null   int64
 8   Total_land_gross_area        1933 non-null   float64
 9   Total_land_real_area         1933 non-null   float64
 10  Total_land_auction_area      1933 non-null   float64
 11  Total_building_area          1933 non-null   float64
 12  Total_building_auction_area  1933 non-null   float64
 13  Total_appraisal_price        1933 non-null   int64
 14  Minimum_sales_price          1933 non-null   int64
 15  First_auction_date           1933 non-null   object
 16  Final_auction_date           1933 non-null   object
 17  Final_result                 1933 non-null   object
 18  Creditor                     1933 non-null   object
 19  addr_do                      1933 non-null   object
 20  addr_si                      1933 non-null   object
 21  addr_dong                    1933 non-null   object
 22  addr_li                      23 non-null     object
 23  addr_san                     1933 non-null   object
 24  addr_bunji1                  1929 non-null   float64
 25  addr_bunji2                  889 non-null    float64
 26  addr_etc                     1933 non-null   object
 27  Apartment_usage              1933 non-null   object
 28  Preserve_regist_date         1933 non-null   object
 29  Total_floor                  1933 non-null   int64
 30  Current_floor                1933 non-null   int64
 31  Specific                     64 non-null     object
 32  Share_auction_YorN           1933 non-null   object
 33  road_name                    1933 non-null   object
 34  road_bunji1                  1909 non-null   float64
 35  road_bunji2                  155 non-null    float64
 36  Close_date                   1933 non-null   object
 37  Close_result                 1933 non-null   object
 38  point.y                      1933 non-null   float64
 39  point.x                      1933 non-null   float64
 40  Hammer_price                 1933 non-null   int64
dtypes: float64(11), int64(9), object(21)
memory usage: 619.3+ KB

In [156]:
Raw_train.head()

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
0,2687,임의,개별,1766037301,정명감정,2017-07-26 00:00:00,2,1,12592.0,37.35,37.35,181.77,181.77,836000000,668800000,2018-02-13 00:00:00,2018-03-20 00:00:00,낙찰,베리타스자산관리대부,부산,해운대구,우동,NaN,N,1398.0,NaN,해운대엑소디움 5층 101-502호,주상복합,2009-07-14 00:00:00,45,5,NaN,N,해운대해변로,30.0,NaN,2018-06-14 00:00:00,배당,35.162717,129.137048,760000000
1,2577,임의,일반,152946867,희감정,2016-09-12 00:00:00,2,1,42478.1,18.76,18.76,118.38,118.38,1073000000,858400000,2016-12-29 00:00:00,2017-02-02 00:00:00,낙찰,흥국저축은행,부산,해운대구,우동,NaN,N,1407.0,NaN,해운대두산위브더제니스 103동 51층 5103호,아파트,2011-12-16 00:00:00,70,51,NaN,N,마린시티2로,33.0,NaN,2017-03-30 00:00:00,배당,35.156633,129.145068,971889999
2,2197,임의,개별,11326510,혜림감정,2016-11-22 00:00:00,3,2,149683.1,71.00,71.00,49.94,49.94,119000000,76160000,2017-07-28 00:00:00,2017-10-13 00:00:00,낙찰,국민은행,부산,사상구,모라동,NaN,N,552.0,NaN,백양그린 206동 14층 1403호,아파트,1992-07-31 00:00:00,15,14,NaN,N,모라로110번길,88.0,NaN,2017-12-13 00:00:00,배당,35.184601,128.996765,93399999
3,2642,임의,일반,183581724,신라감정,2016-12-13 00:00:00,2,1,24405.0,32.98,32.98,84.91,84.91,288400000,230720000,2017-07-20 00:00:00,2017-11-02 00:00:00,낙찰,고려저축은행,부산,남구,대연동,NaN,N,243.0,23.0,대연청구 109동 11층 1102호,아파트,2001-07-13 00:00:00,20,11,NaN,N,황령대로319번가길,110.0,NaN,2017-12-27 00:00:00,배당,35.154180,129.089081,256899000
4,1958,강제,일반,45887671,나라감정,2016-03-07 00:00:00,2,1,774.0,45.18,45.18,84.96,84.96,170000000,136000000,2016-07-06 00:00:00,2016-08-03 00:00:00,낙찰,Private,부산,사하구,괴정동,NaN,N,399.0,2.0,동조리젠시 7층 703호,아파트,2001-11-27 00:00:00,7,7,NaN,N,오작로,51.0,NaN,2016-10-04 00:00:00,배당,35.099630,128.998874,158660000

In [157]:
# "총토지 실면적"과 "총토지경매면적"이 서로 다른 example이 있는 지 확인
diff_real = (Raw_train['Total_land_real_area'] != Raw_train['Total_land_auction_area']).sum()
print("real != auction : ", diff_real, "/", len(Raw_train))

# "총건물면적"과 "총건물경매면적"이 서로 다른 example이 있는 지 확인
diff_building = (Raw_train['Total_building_area'] != Raw_train['Total_building_auction_area']).sum()
print("building != auction : ", diff_building, "/", len(Raw_train))

real != auction :  77 / 1933
building != auction :  79 / 1933

In [158]:
# "총토지실면적" 보다 "총토지경매면적"이 더 큰 example이 있는 지 확인
comp_real = Raw_train['Total_land_real_area'] < Raw_train['Total_land_auction_area']
print("real >= auction : ", comp_real.sum(), "/", len(Raw_train))

# "총건물면적" 보다 "총건물경매면적"이 더 큰 example이 있는 지 확인
comp_building = Raw_train['Total_building_area'] < Raw_train['Total_building_auction_area']
print("building >= auction : ", comp_building.sum(), "/", len(Raw_train))

real >= auction :  1 / 1933
building >= auction :  0 / 1933

In [159]:
# "총토지실면적" 보다 "총토지경매면적"이 더 큰 example 출력
Raw_train[comp_real]

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
1000,1416,임의,개별,657000000,경인감정,2016-01-26 00:00:00,2,1,2418.0,43.21,43.22,151.03,151.03,330000000,264000000,2016-06-13 00:00:00,2016-07-25 00:00:00,낙찰,국민은행,서울,중랑구,중화동,NaN,N,207.0,14.0,",-27 미영리치타운102 2층 207호",주상복합,2007-12-11 00:00:00,15,2,NaN,N,망우로,223.0,8.0,2016-11-08 00:00:00,배당,37.595017,127.077879,341000000

In [160]:
# 최종적으로 유찰된 example이 있는지 확인
print(Raw_train['Final_result'].unique())

# Close_result에 어떤 값들이 있는 지 확인
print(Raw_train['Close_result'].unique())

['낙찰']
['배당' '    ']

In [161]:
# Close_result에 NULL 값이 포함되어 있는 지 확인
print(Raw_train['Close_result'].isnull().sum())

0

In [162]:
# '배당' 이 아닌 종국결과를 출력
# 아마 낙찰은 받았지만 어떠한 이유에서 아직 배당을 받지 못한 경우인 듯 함.
# 즉, 낙찰을 되었지만 아직 배당되지 않아서 경매가 진행 중인 상황인 듯 함.
Raw_train[Raw_train['Close_result'] != '배당']

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
962,14,임의,일반,1138371040,리파인감정,2014-04-14 00:00:00,2,1,15487.3,78.55,78.55,168.42,168.42,1360000000,1088000000,2014-12-09 00:00:00,2016-04-05 00:00:00,낙찰,안양남부(새),서울,강남구,개포동,NaN,N,12.0,2.0,엘지개포자이 101동 5층 502호,아파트,2004-08-05 00:00:00,22,5,NaN,N,개포로109길,69.0,NaN,1111-11-11 00:00:00,,37.496297,127.076623,1207210000
1016,1,강제,개별,900000000,신명감정,2016-03-15 00:00:00,5,4,510.0,35.11,23.41,92.03,61.35,298000000,122061000,2011-06-21 00:00:00,2016-10-11 00:00:00,낙찰,푸른이상호저축,서울,동작구,상도동,NaN,N,1.0,5.0,삼부한강 2층 201호,아파트,2005-07-15 00:00:00,9,2,NaN,Y,0,NaN,NaN,1111-11-11 00:00:00,,37.508474,126.952834,172000000
1026,843,강제,일반,117409245,도시감정,2016-06-10 00:00:00,1,0,30235.4,47.17,47.17,84.99,84.99,667000000,667000000,2017-11-07 00:00:00,2017-11-07 00:00:00,낙찰,Private,서울,마포구,창전동,NaN,N,444.0,NaN,",445-4,448 서강쌍용예가 111동 4층 404호",아파트,2007-11-19 00:00:00,15,4,NaN,N,독막로,145.0,NaN,1111-11-11 00:00:00,,37.548457,126.929413,725550000
1040,264,임의,일반,94459726,지녕감정,2016-11-04 00:00:00,1,0,259.1,20.42,20.42,50.10,50.10,300000000,300000000,2017-09-20 00:00:00,2017-09-20 00:00:00,낙찰,Private,서울,강남구,논현동,NaN,N,102.0,9.0,논현빌라트 5층 502호,아파트,1999-08-30 00:00:00,5,5,NaN,N,선릉로137길,6.0,NaN,1111-11-11 00:00:00,,37.519267,127.039941,330000100
1146,1215,임의,일반,80000000,현산감정,2017-02-09 00:00:00,2,1,1145.0,56.86,56.86,94.62,94.62,286000000,228800000,2017-12-26 00:00:00,2018-02-06 00:00:00,낙찰,Private,서울,구로구,온수동,NaN,N,97.0,2.0,",99-4 두양그린 5층 503호",아파트,2002-05-30 00:00:00,5,5,NaN,N,부일로1길,136.0,9.0,1111-11-11 00:00:00,,37.495211,126.815756,265970000
1407,1738,임의,일반,70000000,화신감정,2017-09-25 00:00:00,2,1,82595.1,57.37,57.37,102.70,102.70,536000000,428800000,2018-01-22 00:00:00,2018-03-05 00:00:00,낙찰,Private,서울,중랑구,묵동,NaN,N,20.0,NaN,신내대림 501동 4층 403호,아파트,1996-01-30 00:00:00,12,4,NaN,N,신내로21길,16.0,NaN,1111-11-11 00:00:00,,37.616051,127.088214,538897000
1438,627,임의,일반,138000000,온누리감정,2017-06-21 00:00:00,2,1,1391.5,52.23,52.23,84.74,84.74,452000000,361600000,2018-01-29 00:00:00,2018-03-05 00:00:00,낙찰,Private,서울,강동구,성내동,NaN,N,405.0,9.0,한솔애리즈 801동 6층 603호,아파트,1111-11-11 00:00:00,7,6,NaN,N,양재대로95길,60.0,NaN,1111-11-11 00:00:00,,37.531094,127.133775,445000000
1627,1202,강제,일반,238616280,성민감정,2016-11-17 00:00:00,2,1,893.0,47.22,47.22,119.92,119.92,605000000,484000000,2017-05-23 00:00:00,2017-06-28 00:00:00,낙찰,Private,서울,양천구,신정동,NaN,N,118.0,19.0,목동그린빌라트 3층 301호,주상복합,1996-01-19 00:00:00,8,3,NaN,N,목동동로12길,38.0,NaN,1111-11-11 00:00:00,,37.522362,126.875448,556280000
1640,1683,강제,일반,64100475,기린감정,2017-04-28 00:00:00,2,1,25472.5,26.07,26.07,84.32,84.32,340000000,272000000,2017-09-11 00:00:00,2017-11-06 00:00:00,낙찰,Private,서울,중랑구,신내동,NaN,N,783.0,NaN,",-1,-2,상봉동480,-1 성원 102동 9층 902호",아파트,1994-12-20 00:00:00,25,9,NaN,N,신내로,51.0,NaN,1111-11-11 00:00:00,,37.604908,127.094707,331299000
1665,1667,임의,일반,181697863,프라임감정,2017-03-28 00:00:00,2,1,531.3,44.27,44.27,84.38,84.38,277000000,221600000,2017-08-28 00:00:00,2017-10-16 00:00:00,낙찰,Private,서울,중랑구,망우동,NaN,N,184.0,16.0,",-18,-20,-21 주영파크뷰 4층 401호",아파트,2004-04-08 00:00:00,7,4,NaN,N,용마산로114길,37.0,NaN,1111-11-11 00:00:00,,37.599278,127.103362,243100000
1867,1639,임의,일반,300000000,경인감정,2017-01-05 00:00:00,1,0,85205.0,52.29,52.29,68.86,68.86,350000000,350000000,2017-04-24 00:00:00,2017-12-11 00:00:00,낙찰,중소기업은행,서울,노원구,상계동,NaN,N,656.0,NaN,상계주공 1112동 1층 117호,아파트,1988-09-30 00:00:00,15,1,NaN,N,동일로227길,85.0,NaN,1111-11-11 00:00:00,,37.665138,127.052754,390000000
1924,1750,임의,일반,178831561,에이원감정,2017-03-08 00:00:00,1,0,25064.5,34.90,34.90,84.50,84.50,439000000,439000000,2017-07-03 00:00:00,2017-09-18 00:00:00,낙찰,굿이에프대부,서울,도봉구,창동,NaN,N,815.0,NaN,창동2차현대 208동 23층 2301호,아파트,2001-07-30 00:00:00,25,23,NaN,N,도봉로136길,111.0,NaN,1111-11-11 00:00:00,,37.661182,127.046189,453616100

In [163]:
Raw_train[Raw_train['Preserve_regist_date'] == '1111-11-11 00:00:00']

,Auction_key,Auction_class,Bid_class,Claim_price,Appraisal_company,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Final_result,Creditor,addr_do,addr_si,addr_dong,addr_li,addr_san,addr_bunji1,addr_bunji2,addr_etc,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Specific,Share_auction_YorN,road_name,road_bunji1,road_bunji2,Close_date,Close_result,point.y,point.x,Hammer_price
29,1783,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 8층 801호",주상복합,1111-11-11 00:00:00,15,8,"**1차감정:220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,126630000
32,1826,임의,일반,45000000,태화감정,2015-09-21 00:00:00,3,1,0.0,0.00,0.00,68.20,68.20,67000000,53600000,2016-09-30 00:00:00,2016-12-29 00:00:00,낙찰,Private,부산,연제구,연산동,NaN,Y,20.0,55.0,국토 4층 402호,아파트,1111-11-11 00:00:00,8,4,NaN,N,망미번영로,103.0,NaN,2017-03-08 00:00:00,배당,35.176351,129.111235,55203000
81,1914,강제,일반,180000000,태평양감정,2015-12-29 00:00:00,2,1,4010.0,21.10,21.10,84.99,84.99,288000000,230400000,2016-05-04 00:00:00,2016-06-01 00:00:00,낙찰,Private,부산,연제구,연산동,NaN,N,406.0,10.0,연산동한솔솔파크 101동 11층 1102호,아파트,1111-11-11 00:00:00,21,11,NaN,N,과정로,211.0,NaN,2016-08-03 00:00:00,배당,35.187269,129.103845,277111500
84,1781,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 7층 701호",주상복합,1111-11-11 00:00:00,15,7,"**1차감정:220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,135330000
118,1986,임의,일반,70000000,알비감정,2016-04-20 00:00:00,1,0,0.0,0.00,0.00,83.33,83.33,54700000,54700000,2016-07-20 00:00:00,2016-07-20 00:00:00,낙찰,Private,부산,연제구,연산동,NaN,Y,20.0,55.0,국토 1층 108호,아파트,1111-11-11 00:00:00,8,1,NaN,N,망미번영로,103.0,NaN,2016-10-19 00:00:00,배당,35.176351,129.111235,60000000
122,1780,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,18.22,18.22,107.28,107.28,249565981,127778000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 6층 602호",주상복합,1111-11-11 00:00:00,15,6,"**1차감정:240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,137800000
224,1789,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,5,532.0,16.65,16.65,98.08,98.08,228745632,93694000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 11층 1101호",주상복합,1111-11-11 00:00:00,15,11,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,135500000
227,2489,강제,일반,264300000,국제감정,2016-02-05 00:00:00,2,0,0.0,0.00,0.00,84.62,84.62,160000000,160000000,2016-08-17 00:00:00,2016-12-14 00:00:00,낙찰,Private,부산,수영구,남천동,NaN,N,27.0,3.0,",-16 남천마르빌빌딩 11층 1205호",주상복합,1111-11-11 00:00:00,20,11,NaN,N,수영로,452.0,14.0,2017-02-17 00:00:00,배당,35.145924,129.110288,173300000
239,1787,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 10층 1001호",주상복합,1111-11-11 00:00:00,15,10,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,135330000
294,2497,강제,일반,264300000,오상호감정,2016-02-12 00:00:00,1,0,1096.7,12.30,12.30,84.97,84.97,219000000,219000000,2016-08-17 00:00:00,2016-08-17 00:00:00,낙찰,Private,부산,수영구,남천동,NaN,N,27.0,3.0,",-16 남천마르빌빌딩 18층 1802호",주상복합,1111-11-11 00:00:00,20,18,NaN,N,수영로,452.0,14.0,2016-11-18 00:00:00,배당,35.145924,129.110288,220500000
303,2533,임의,일반,410382851,한마음감정,2016-05-16 00:00:00,2,1,2176.0,21.07,21.07,158.99,158.99,556000000,444800000,2016-09-22 00:00:00,2016-10-20 00:00:00,낙찰,동래농협,부산,해운대구,중동,NaN,N,1167.0,3.0,현대 아쿠아팰리스 해운대 102동 15층 1704호,주상복합,1111-11-11 00:00:00,30,15,NaN,N,달맞이길,35.0,NaN,2016-12-19 00:00:00,배당,35.162281,129.168620,549990000
311,1785,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,16.65,16.65,98.08,98.08,228745632,93694000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 9층 901호",주상복합,1111-11-11 00:00:00,15,9,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,136000000
370,1797,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,18.22,18.22,107.28,107.28,244565981,125218000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 15층 1502호",주상복합,1111-11-11 00:00:00,15,15,"**1차감정: 235,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,133630000
464,1791,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 12층 1201호",주상복합,1111-11-11 00:00:00,15,12,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,123000000
491,1794,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,18.22,18.22,107.28,107.28,249565981,102222000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 13층 1302호",주상복합,1111-11-11 00:00:00,15,13,"**1차감정: 240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,138010000
496,1776,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,5,3,532.0,16.65,16.65,98.08,98.08,218745632,111998000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 4층 401호",주상복합,1111-11-11 00:00:00,15,4,"**1차감정:210,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,117800000
519,2301,임의,일반,281292053,대일감정,2016-10-07 00:00:00,3,1,440.3,10.70,10.70,112.50,112.50,380000000,304000000,2017-09-12 00:00:00,2017-12-26 00:00:00,낙찰,동부화재해상보험,부산,영도구,대교동1가,NaN,N,1.0,NaN,브릿지타워 6층 602호,주상복합,1111-11-11 00:00:00,20,6,2016.11.04.임차인 김영준 배당요구신청 철회함,N,태종로,40.0,NaN,2018-03-08 00:00:00,배당,35.094470,129.036481,331000000
560,1796,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,18.22,18.22,107.28,107.28,249565981,127778000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 14층 1402호",주상복합,1111-11-11 00:00:00,15,14,"**1차감정: 240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,145990000
613,1782,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,18.22,18.22,107.28,107.28,249565981,127778000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 7층 702호",주상복합,1111-11-11 00:00:00,15,7,"**1차감정:240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,137800000
626,2401,임의,일반,137996981,한라감정,2016-08-29 00:00:00,3,2,10377.0,61.31,61.31,85.00,85.00,227000000,145280000,2017-11-01 00:00:00,2018-01-10 00:00:00,낙찰,에프케이엔1612유동화전문,부산,사하구,괴정동,NaN,N,207.0,52.0,",-45 괴정참누리 101동 1층 101호",아파트,1111-11-11 00:00:00,15,1,NaN,N,대티로17번길,47.0,NaN,2018-03-13 00:00:00,배당,35.106003,129.002455,182530000
637,1788,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,7,6,532.0,18.22,18.22,107.28,107.28,249565981,102222000,2013-07-04 00:00:00,2016-05-27 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 10층 1002호",주상복합,1111-11-11 00:00:00,15,10,"**1차감정: 240,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,136500000
656,1777,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,223745632,114558000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 5층 501호",주상복합,1111-11-11 00:00:00,15,5,"**1차감정:215,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,128900000
658,1795,강제,개별,1087000000,대한감정,2012-06-11 00:00:00,6,5,532.0,16.65,16.65,98.08,98.08,228745632,117118000,2013-07-04 00:00:00,2016-04-29 00:00:00,낙찰,Private,부산,동래구,낙민동,NaN,N,236.0,NaN,",237-2 삼주 14층 1401호",주상복합,1111-11-11 00:00:00,15,14,"**1차감정: 220,000,000",N,0,NaN,NaN,2017-06-29 00:00:00,배당,35.201112,129.088687,142630000
731,906,강제,개별,36500000,한울감정,2011-12-31 00:00:00,4,3,0.0,0.00,0.00,90.05,90.05,245000000,125440000,2015-12-23 00:00:00,2016-04-20 00:00:00,낙찰,Private,서울,양천구,신월동,NaN,N,142.0,14.0,뜨라네 106동 3층 304호,아파트,1111-11-11 00:00:00,7,3,NaN,N,가로공원로56길,10.0,NaN,2016-06-28 00:00:00,배당,37.533991,126.823710,187500000
777,271,임의,일반,404899792,현대기업감정,2016-12-12 00:00:00,2,1,21792.5,47.45,47.45,84.85,84.85,666000000,532800000,2017-04-13 00:00:00,2017-06-08 00:00:00,낙찰,우리은행,서울,동작구,사당동,NaN,N,1157.0,NaN,이수역리가 102동 16층 16층1603호,아파트,1111-11-11 00:00:00,16,16,NaN,N,사당로27길,130.0,NaN,2017-08-17 00:00:00,배당,37.489550,126.973772,687880000
779,1477,임의,일반,233237278,두환감정,2016-06-20 00:00:00,2,1,1327.5,36.14,36.14,72.84,72.84,340000000,272000000,2016-09-26 00:00:00,2016-11-07 00:00:00,낙찰,페퍼저축은행,서울,동대문구,장안동,NaN,N,570.0,NaN,청원파크빌 2층 201호,아파트,1111-11-11 00:00:00,9,2,NaN,N,한천로14길,8.0,NaN,2016-12-28 00:00:00,배당,37.567122,127.063013,300000000
823,1608,임의,개별,600000000,이노감정,2016-07-22 00:00:00,1,0,2548.2,27.71,27.71,49.60,49.60,211000000,211000000,2016-11-28 00:00:00,2016-11-28 00:00:00,낙찰,광등종합건설,서울,노원구,공릉동,NaN,N,757.0,NaN,우국리더스빌 1층 107호,아파트,1111-11-11 00:00:00,15,1,NaN,N,동일로197길,85.0,NaN,2017-03-29 00:00:00,배당,37.626154,127.070337,214090000
844,43,임의,일반,120000000,두환감정,2015-04-24 00:00:00,3,2,737.2,58.35,58.35,173.24,173.24,1000000000,640000000,2016-04-26 00:00:00,2016-12-28 00:00:00,낙찰,Private,서울,서초구,서초동,NaN,N,1679.0,6.0,",-7 에지앙 5층 502호",아파트,1111-11-11 00:00:00,9,5,NaN,N,서초대로64길,13.0,NaN,2017-03-17 00:00:00,배당,37.494985,127.020908,864999999
853,1651,임의,일반,43170233,지평감정,2017-04-19 00:00:00,2,1,0.0,0.00,0.00,84.82,84.82,412000000,329600000,2017-11-06 00:00:00,2017-12-04 00:00:00,낙찰,하나은행,서울,성북구,돈암동,NaN,N,603.0,NaN,돈암동더샾 103동 1층 101호,아파트,1111-11-11 00:00:00,19,1,NaN,N,아리랑로5길,85.0,NaN,2018-01-31 00:00:00,배당,37.597690,127.010683,407001000
866,1002,임의,일반,514161871,구정감정,2015-12-26 00:00:00,2,1,8783.0,26.44,26.44,199.46,199.46,1400000000,1120000000,2016-04-14 00:00:00,2016-05-18 00:00:00,낙찰,현대라이프생명보험,서울,영등포구,여의도동,NaN,N,36.0,NaN,롯데캐슬엠파이어 102동 34층 3402호,주상복합,1111-11-11 00:00:00,39,34,NaN,N,의사당대로,127.0,NaN,2016-08-11 00:00:00,배당,37.520251,126.926386,1131110000
917,1068,임의,일반,872504514,한터감정,2016-06-01 00:00:00,2,1,9917.0,25.82,25.82,187.24,187.24,1200000000,960000000,2016-09-27 00:00:00,2016-11-01 00:00:00,낙찰,국민은행,서울,영등포구,여의도동,NaN,N,43.0,4.0,",-5 롯데캐슬아이비 7층 101-708호",아파트,1111-11-11 00:00:00,35,7,NaN,N,국제금융로,86.0,NaN,2016-12-20 00:00:00,배당,37.520239,126.931751,1023070000
1065,765,강제,일반,400000000,로얄감정,2015-12-03 00:00:00,1,0,5421.0,64.42,64.42,130.90,130.90,339000000,339000000,2017-06-20 00:00:00,2017-06-20 00:00:00,낙찰,기술신용보증기금,서울,서대문구,홍은동,NaN,Y,11.0,244.0,",-245,-249,174-4,-6,-7,-15,-9 세한숲속마을 4층 401호",아파트,1111-11-11 00:00:00,14,4,NaN,N,통일로,555.0,NaN,2017-08-25 00:00:00,배당,37.600584,126.946719,387489000
1212,1437,임의,일괄,600000000,영현감정,2016-07-12 00:00:00,5,3,0.0,603.20,603.20,1203.76,1203.76,5810000000,2974720000,2016-12-19 00:00:00,2017-07-17 00:00:00,낙찰,Private,서울,강북구,번동,NaN,N,460.0,67.0,번동모닝힐 1층 101호,아파트,1111-11-11 00:00:00,10,1,"*근린생활시설및공동주택(도시형생활주택)\n*수송초등교서측인근\n*주위노변상가,중.소...",N,0,NaN,NaN,2017-09-19 00:00:00,배당,37.637280,127.031419,3721000000
1266,953,임의,일반,49895283,엘리트감정,2015-08-20 00:00:00,1,0,0.0,0.00,0.00,89.67,89.67,255000000,255000000,2016-07-05 00:00:00,2016-07-05 00:00:00,낙찰,하나은행,서울,양천구,신월동,NaN,N,142.0,14.0,금하뜨라네 104동 4층 404호,아파트,1111-11-11 00:00:00,7,4,대지권등기를 위하여 추가부담금이 발생할 수 있으므로 조합등에 확인 필요함. 현재대지...,N,가로공원로56길,10.0,NaN,2016-10-05 00:00:00,배당,37.533991,126.823710,255100000
1316,445,강제,일반,380000000,준경감정,2015-09-18 00:00:00,2,1,13740.6,35.55,35.55,84.70,84.70,790000000,632000000,2016-04-25 00:00:00,2016-05-30 00:00:00,낙찰,Private,서울,성동구,옥수동,NaN,N,560.0,NaN,옥수어울림 102동 10층 1003호,아파트,1111-11-11 00:00:00,20,10,NaN,N,독서당로40길,37.0,NaN,2016-07-22 00:00:00,배당,37.542245,127.018346,734777000
1438,627,임의,일반,138000000,온누리감정,2017-06-21 00:00:00,2,1,1391.5,52.23,52.23,84.74,84.74,452000000,361600000,2018-01-29 00:00:00,2018-03-05 00:00:00,낙찰,Private,서울,강동구,성내동,NaN,N,405.0,9.0,한솔애리즈 801동 6층 603호,아파트,1111-11-11 00:00:00,7,6,NaN,N,양재대로95길,60.0,NaN,1111-11-11 00:00:00,,37.531094,127.133775,445000000
1486,854,강제,일반,180000000,원일감정,2016-01-23 00:00:00,1,0,469.0,29.82,29.82,77.41,77.41,280000000,280000000,2016-07-05 00:00:00,2016-07-05 00:00:00,낙찰,Private,서울,서대문구,연희동,NaN,N,69.0,21.0,백광 6층 601호,아파트,1111-11-11 00:00:00,6,6,NaN,N,연희로16길,4.0,NaN,2016-09-09 00:00:00,배당,37.567624,126.932096,295480000
1521,10,강제,일괄,8955865567,대신감정,2015-05-21 00:00:00,4,3,0.0,2665.84,2665.84,4255.07,4255.07,27775000000,14220800000,2016-04-26 00:00:00,2016-12-28 00:00:00,낙찰,엘빈종합건설,서울,관악구,남현동,NaN,N,1079.0,13.0,외11 하이파크 101동 1층 101호,아파트,1111-11-11 00:00:00,10,1,"*사당초등학교남동측인근\n*부근중소규모아파트단지,다세대주택등공동주택,단독주택,근린생...",N,남현길,96.0,NaN,2017-04-14 00:00:00,배당,37.473014,126.974663,15151000000
1546,744,임의,일괄,370245291,삼정감정,2015-11-13 00:00:00,4,3,0.0,218.00,218.00,280.86,280.86,1282540000,656661000,2016-11-08 00:00:00,2017-02-28 00:00:00,낙찰,우리은행,서울,서대문구,홍은동,NaN,N,4.0,9.0,2층 201호,아파트,1111-11-11 00:00:00,5,2,"*홍지문남서측인근\n*주변단독및다가구주택,원룸주택,노인전문요양센터,사찰(법륜사),야...",N,홍지문2길,53.0,NaN,2017-05-16 00:00:00,배당,37.598049,126.955948,783001000
1722,101,임의,일반,288564318,현대기업감정,2015-11-13 00:00:00,2,1,2038.8,125.33,125.33,227.44,227.44,1280000000,1024000000,2016-04-27 00:00:00,2016-06-01 00:00:00,낙찰,와이더블유,서울,서초구,서초동,NaN,N,1464.0,4.0,",-5,-6,-8,-9,-49 벽산서초블루밍 4층 402호",아파트,1111-11-11 00:00:00,6,4,NaN,N,반포대로1길,11.0,NaN,2016-07-21 00:00:00,배당,37.481379,127.011757,1074010000
1747,1314,강제,일반,201335667,더존감정,2015-06-02 00:00:00,1,0,30545.0,34.17,11.39,84.98,28.33,130000000,130000000,2016-09-19 00:00:00,2016-09-19 00:00:00,낙찰,아림조명상사,서울,성북구,돈암동,NaN,N,524.0,NaN,일신휴먼빌 110동 17층 1702호,아파트,1111-11-11 00:00:00,20,17,공유자우선매수제한있음,Y,아리랑로,89.0,NaN,2016-11-23 00:00:00,배당,37.600927,127.012525,150900000
1808,1609,임의,개별,600000000,이노감정,2016-07-22 00:00:00,2,1,2548.2,28.89,28.89,51.67,51.67,232000000,185600000,2016-11-28 00:00:00,2016-12-26 00:00:00,낙찰,광등종합건설,서울,노원구,공릉동,NaN,N,757.0,NaN,우국리더스빌 14층 1405호,아파트,1111-11-11 00:00:00,15,14,NaN,N,동일로197길,85.0,NaN,2017-03-29 00:00:00,배당,37.626154,127.070337,201999990
1912,102,임의,일반,357918375,대신감정,2015-10-30 00:00:00,2,1,2405.8,60.13,60.13,121.27,121.27,940000000,752000000,2016-04-21 00:00:00,2017-04-06 00:00:00,낙찰,국민은행,서울,서초구,방배동,NaN,N,981.0,40.0,브라운스톤효령 2층 205호,아파트,1111-11-11 00:00:00,9,2,NaN,N,효령로26길,15.0,NaN,2017-06-21 00:00:00,배당,37.479785,126.995602,920500000

In [164]:
# Apartment Usage에 어떤 값들이 있는 지 확인
print(Raw_train['Apartment_usage'].unique())

['주상복합' '아파트']

In [165]:
# 사용하지 않은 feature drop
Raw_train = Raw_train.drop(['Auction_key', 'Appraisal_company', 'Final_result', 'Creditor', 'addr_do',
                           'addr_si', 'addr_dong', 'addr_li', 'addr_san', 'addr_bunji1', 'addr_bunji2',
                           'addr_etc', 'Specific', 'road_name', 'road_bunji1', 'road_bunji2', 'Close_date'], axis = 1)

Raw_train

,Auction_class,Bid_class,Claim_price,Appraisal_date,Auction_count,Auction_miscarriage_count,Total_land_gross_area,Total_land_real_area,Total_land_auction_area,Total_building_area,Total_building_auction_area,Total_appraisal_price,Minimum_sales_price,First_auction_date,Final_auction_date,Apartment_usage,Preserve_regist_date,Total_floor,Current_floor,Share_auction_YorN,Close_result,point.y,point.x,Hammer_price
0,임의,개별,1766037301,2017-07-26 00:00:00,2,1,12592.0,37.35,37.35,181.77,181.77,836000000,668800000,2018-02-13 00:00:00,2018-03-20 00:00:00,주상복합,2009-07-14 00:00:00,45,5,N,배당,35.162717,129.137048,760000000
1,임의,일반,152946867,2016-09-12 00:00:00,2,1,42478.1,18.76,18.76,118.38,118.38,1073000000,858400000,2016-12-29 00:00:00,2017-02-02 00:00:00,아파트,2011-12-16 00:00:00,70,51,N,배당,35.156633,129.145068,971889999
2,임의,개별,11326510,2016-11-22 00:00:00,3,2,149683.1,71.00,71.00,49.94,49.94,119000000,76160000,2017-07-28 00:00:00,2017-10-13 00:00:00,아파트,1992-07-31 00:00:00,15,14,N,배당,35.184601,128.996765,93399999
3,임의,일반,183581724,2016-12-13 00:00:00,2,1,24405.0,32.98,32.98,84.91,84.91,288400000,230720000,2017-07-20 00:00:00,2017-11-02 00:00:00,아파트,2001-07-13 00:00:00,20,11,N,배당,35.154180,129.089081,256899000
4,강제,일반,45887671,2016-03-07 00:00:00,2,1,774.0,45.18,45.18,84.96,84.96,170000000,136000000,2016-07-06 00:00:00,2016-08-03 00:00:00,아파트,2001-11-27 00:00:00,7,7,N,배당,35.099630,128.998874,158660000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1928,강제,일반,280000000,2017-02-16 00:00:00,1,0,66419.3,40.55,40.55,84.87,84.87,401000000,401000000,2017-06-19 00:00:00,2017-06-19 00:00:00,아파트,1992-08-29 00:00:00,21,15,N,배당,37.648811,127.048683,402500000
1929,임의,일반,200000000,2015-02-21 00:00:00,2,1,20433.8,39.60,39.60,114.81,114.81,454000000,363200000,2017-02-13 00:00:00,2017-03-13 00:00:00,아파트,2000-05-30 00:00:00,23,23,N,배당,37.663291,127.077063,430234600
1930,임의,일반,354805459,2016-10-21 00:00:00,2,1,7460.8,19.03,19.03,133.98,133.98,1285000000,1028000000,2017-12-21 00:00:00,2018-01-18 00:00:00,주상복합,2011-12-13 00:00:00,32,19,N,배당,37.558319,126.981994,1118999990
1931,강제,일반,80000000,2016-06-17 00:00:00,2,1,16875.8,42.20,42.20,84.94,84.94,407000000,325600000,2016-10-10 00:00:00,2016-11-14 00:00:00,아파트,2002-11-07 00:00:00,15,11,N,배당,37.647061,127.028002,403000000
1932,임의,일반,180000000,2015-04-17 00:00:00,2,1,32457.1,45.68,45.68,102.92,102.92,750000000,600000000,2016-04-20 00:00:00,2016-05-25 00:00:00,아파트,2013-11-18 00:00:00,22,7,N,배당,37.566255,126.848961,686010000

In [166]:
# feature engineering
from datetime import datetime, timedelta

def feature_engineering(df) :
    # 유찰 비율 feature 생성
    df['Miscarriage_rate'] = df['Auction_miscarriage_count'] / df['Auction_count']
    df = df.drop(['Auction_miscarriage_count', 'Auction_count'], axis = 1)
    
    # 층고율 feature 생성
    df['floor_rate'] = df['Current_floor'] / df['Total_floor']
    df = df.drop(['Current_floor', 'Total_floor'], axis = 1)
    
    # 감정가에 대한 최저매각가격의 부담율
    df['Minimum_per_appraisal'] = df['Minimum_sales_price'] / df['Total_appraisal_price']
    df = df.drop(['Minimum_sales_price'], axis = 1)
    
    # 감정가에 대한 청구금액의 부담율(비취하율)
    df['Claim_per_appraisal'] = df['Claim_price'] / df['Total_appraisal_price']
    df = df.drop(['Claim_price', 'Total_appraisal_price'], axis = 1)
    
    # 실질 경매 면적율
    df['Auction_real_area_rate'] = (((df['Total_land_real_area'] / df['Total_land_gross_area']) * df['Total_land_auction_area']) 
                                    + (df['Total_building_auction_area'] / df['Total_building_area']))
    df = df.drop(['Total_land_real_area', 'Total_land_gross_area', 'Total_land_auction_area',
                 'Total_building_auction_area', 'Total_building_area'], axis = 1)
    
    # One-hot Encoding
    df = pd.get_dummies(df, columns=['Auction_class', 'Auction_class', 'Apartment_usage', 'Share_auction_YorN', 'Close_result'])
    
    # date processing
    df['Appraisal_date'] = pd.to_datetime(Raw_train['Appraisal_date'], format="%Y-%m-%d %H:%M:%S")
    df['First_auction_date'] = pd.to_datetime(Raw_train['First_auction_date'], format="%Y-%m-%d %H:%M:%S")
    df['Final_auction_date'] = pd.to_datetime(Raw_train['Final_auction_date'], format="%Y-%m-%d %H:%M:%S")
    df['Preserve_regist_date'] = pd.to_datetime(Raw_train['Preserve_regist_date'], format="%Y-%m-%d %H:%M:%S")
    
    df['Preserve_to_Appraisal'] = df['Appraisal_date'] - df['Preserve_regist_date']
    df['Appraisal_to_first'] = df['First_auction_date'] - df['Appraisal_date']
    df['First_to_final'] = df['Final_auction_date'] - df['First_auction_date']
    
    df = df.drop(['Appraisal_date', 'First_auction_date', 'Final_auction_date', 'Preserve_regist_date'], axis = 1)
    
    return df

In [167]:
Raw_train = feature_engineering(Raw_train)

Raw_train

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1111-11-11 00:00:00