# Version 4

## [Test Coverage]

1. `age_gender_info` 추가 (상위 3 그룹)

## Import Module

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm.notebook import tqdm

## Data Load

In [2]:
DATA_ROOT = ''
DATA_ROOT = os.path.join(DATA_ROOT, "../../../competition_data/parking_data/")

TRAIN_ROOT = os.path.join(DATA_ROOT, "train_version_3.csv")
TEST_ROOT = os.path.join(DATA_ROOT, "test_version_3.csv")
AGE_GENDER_INFO_ROOT = os.path.join(DATA_ROOT, "age_gender_info.csv")
SUBMISSION_ROOT = os.path.join(DATA_ROOT, "sample_submission.csv")

print(f"DATA_ROOT : {DATA_ROOT}")
print(f"TRAIN_ROOT : {TRAIN_ROOT}")
print(f"TEST_ROOT : {TEST_ROOT}")
print(f"AGE_GENDER_INFO_ROOT : {AGE_GENDER_INFO_ROOT}")
print(f"SUBMISSION_ROOT : {SUBMISSION_ROOT}")

DATA_ROOT : ../../../competition_data/parking_data/
TRAIN_ROOT : ../../../competition_data/parking_data/train_version_3.csv
TEST_ROOT : ../../../competition_data/parking_data/test_version_3.csv
AGE_GENDER_INFO_ROOT : ../../../competition_data/parking_data/age_gender_info.csv
SUBMISSION_ROOT : ../../../competition_data/parking_data/sample_submission.csv

In [3]:
train = pd.read_csv(TRAIN_ROOT)
test = pd.read_csv(TEST_ROOT)
age_gender_info = pd.read_csv(AGE_GENDER_INFO_ROOT)
submission = pd.read_csv(SUBMISSION_ROOT)

print("Data Loaded!")

Data Loaded!

## `age_gender_info` 추가

In [5]:
#열 이름 변경
age_columns=[]
for i in range(0,11):
    for j in range(0,2):
        temp=str(i)+"_"+str(j)
        age_columns.append(temp)

print(len(age_columns))
print(age_columns)

age_gender_info.columns = age_columns

22
['0_0', '0_1', '1_0', '1_1', '2_0', '2_1', '3_0', '3_1', '4_0', '4_1', '5_0', '5_1', '6_0', '6_1', '7_0', '7_1', '8_0', '8_1', '9_0', '9_1', '10_0', '10_1']

In [6]:
#열 추가
age_gender_info['1st']=0
age_gender_info['1gender']=0
age_gender_info['2nd']=0
age_gender_info['2gender']=0
age_gender_info['3rd']=0
age_gender_info['3gender']=0

In [7]:
for id in age_gender_info.index:
    temp=pd.DataFrame(age_gender_info.loc[id]).T
    temp=temp.sort_values(axis=1,by=[id],ascending=False)
    temp_ascend=temp.columns
    
    age_gender_info['1st'].loc[id]=temp_ascend[0].split('_')[0]
    age_gender_info['1gender'].loc[id]=temp_ascend[0].split('_')[1]
    age_gender_info['2nd'].loc[id]=temp_ascend[1].split('_')[0]
    age_gender_info['2gender'].loc[id]=temp_ascend[1].split('_')[1]
    age_gender_info['3rd'].loc[id]=temp_ascend[2].split('_')[0]
    age_gender_info['3gender'].loc[id]=temp_ascend[2].split('_')[1]

C:\Users\marti\anaconda3\envs\py38\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

### train과 age_gender_info 병합

In [10]:
age_gender_info=age_gender_info.drop(columns=age_columns,axis=1)
age_gender_info.head(2)

     1st 1gender 2nd 2gender 3rd 3gender
지역
경상북도   5       0   4       0   6       0
경상남도   6       0   5       0   4       0

In [11]:
age_gender_info

        1st 1gender 2nd 2gender 3rd 3gender
지역
경상북도      5       0   4       0   6       0
경상남도      6       0   5       0   4       0
대전광역시     6       0   5       0   4       0
경기도       4       0   4       1   5       0
전라북도      5       0   4       0   6       0
강원도       6       0   5       0   4       0
광주광역시     4       0   5       0   4       1
충청남도      5       0   4       0   4       1
부산광역시     6       0   6       1   5       0
제주특별자치도   5       0   4       0   6       0
울산광역시     6       0   5       0   4       0
충청북도      5       0   4       0   6       0
전라남도      5       0   4       0   5       1
대구광역시     6       0   5       0   6       1
서울특별시     6       0   7       0   6       1
세종특별자치시   3       0   3       1   2       0

In [20]:
local_map = {'경상북도': 0, \
    '경상남도': 1,
    '대전광역시': 2,
    '경기도': 3,
    '전라북도': 4,
    '강원도': 5,
    '광주광역시': 6,
    '충청남도': 7,
    '부산광역시': 8,
    '제주특별자치도': 9,
    '울산광역시': 10,
    '충청북도': 11,
    '전라남도': 12,
    '대구광역시': 13,
    '서울특별시': 14,
    '세종특별자치시': 15}

regions = age_gender_info.index

for region in tqdm(regions):
    train.loc[train.지역 == local_map[region], '1st'] = age_gender_info.loc[region, '1st']
    train.loc[train.지역 == local_map[region], '1gender'] = age_gender_info.loc[region, '1gender']
    train.loc[train.지역 == local_map[region], '2nd'] = age_gender_info.loc[region, '2nd']
    train.loc[train.지역 == local_map[region], '2gender'] = age_gender_info.loc[region, '2gender']
    train.loc[train.지역 == local_map[region], '3rd'] = age_gender_info.loc[region, '3rd']
    train.loc[train.지역 == local_map[region], '3gender'] = age_gender_info.loc[region, '3gender']

for region in tqdm(regions):
    test.loc[test.지역 == local_map[region], '1st'] = age_gender_info.loc[region, '1st']
    test.loc[test.지역 == local_map[region], '1gender'] = age_gender_info.loc[region, '1gender']
    test.loc[test.지역 == local_map[region], '2nd'] = age_gender_info.loc[region, '2nd']
    test.loc[test.지역 == local_map[region], '2gender'] = age_gender_info.loc[region, '2gender']
    test.loc[test.지역 == local_map[region], '3rd'] = age_gender_info.loc[region, '3rd']
    test.loc[test.지역 == local_map[region], '3gender'] = age_gender_info.loc[region, '3gender']

  0%|          | 0/16 [00:00<?, ?it/s]

  0%|          | 0/16 [00:00<?, ?it/s]

## To CSV

In [22]:
train = train.set_index('단지코드')
test = test.set_index('단지코드')

In [23]:
TRAIN_VERSION_4_ROOT = os.path.join(DATA_ROOT, 'train_version_4.csv')
TEST_VERSION_4_ROOT = os.path.join(DATA_ROOT, 'test_version_4.csv')

train.to_csv(TRAIN_VERSION_4_ROOT)
test.to_csv(TEST_VERSION_4_ROOT)